{% extends 'base.html' %}
{% load static %}
{% load myfilters %}

{% block title %} Activity Task {% endblock %}

{% block css %}
/*---------wizard-step-------------*/

.activity-container{
	padding: 5px 0px;
}

.wizard .nav-tabs {
	border-bottom-color: transparent;
}

.wizard > div.wizard-inner {
    position: relative;
    margin-bottom: 25px;
    text-align: center;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 82%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15px;
}
.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    cursor: default;
}
span.round-tab {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    border: 1px solid #ddd;
}
.wizard li.active span.round-tab {
    background: #0db02b;
    color: #fff;
    border-color: #0db02b;
}
.wizard .nav-tabs > li.active > a i{
	color: #0db02b;
}

.wizard .nav-tabs > li {
    width: 13.94%;
}
.wizard .nav-tabs > li a i{
	position: absolute;
    top: -10px;
    transform: translate(-25%, -50%);
}
.wizard .tab-pane {
    padding-top: 20px;
}

.pull-right{
    float: right;
}

@media (max-width: 767px){
	.wizard .nav-tabs > li a i{
		display: none;
	}
}

.col-form-label, .form-control{
	font-size:10px;
	color:black;
}

.form-control{
	height: calc(0.6em + 0.9rem + 1px);
	padding: 0.20rem 0.25rem;
	border-radius:0px;
}
.form-group {
    margin-bottom: 0rem;
}

.upper_area{
	font-size: 10px;
	color:black;
}
.container-fluid {
    font-size: 10px;
}
label{
	margin-bottom: 0rem;
	font-weight: 400;
}
.wizard .btn {
	padding: 0.07rem 0.5rem;
   font-size: 10px;
   height: 20px;
}
{% endblock %}

{% block link %}
<!-- Sweet Alert-->
<link href="{% static 'libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_content %}
<div class="page-content">

	<!-- start page title -->
	<div class="row">
		<div class="col-12">
			<div class="page-title-box d-flex align-items-center justify-content-between">
				<p class="page-title mb-0 font-size-12"><b>{{activitydata.ticket}}>>EWO: {{activitydata.ewo}}>>DA: {{activitydata.da}}>>{{step}}</b></p>
				<div class="page-title-right">
					<a class="" href="/view_activity?id={{ request.GET.id }}"><b><u>View Activity</u></b></a>&nbsp;
					<a class="" href="/media_list?activity_id={{ request.GET.id }}"><b><u>Media File</u></b></a>
				</div>
			</div>
		</div>
	</div>
	<!-- end page title -->

	{% for message in messages  %}            
      	<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message : </strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}  
	  <div class="row">
		<div class="col-lg-12">
		
				<div class="card">
					<div class="card-body">
						<section class="activity-container">
							<div class="container12">
								<div class="row d-flex justify-content-center">
									<div class="col-md-12">
										<div class="wizard">
											<div class="wizard-inner">
												<div class="connecting-line"></div>
												<ul class="nav nav-tabs" role="tablist">
													<li role="presentation" class="{% if request.GET.step == '5' %}active{% else %}disabled{% endif %}">
														<a href="/activities?step=5&id={{request.GET.id}}" data-toggle="researcher" aria-controls="researcher" role="tab" aria-expanded="true"><span class="round-tab">1</span> <i>Research</i></a>
													</li>
													<li role="presentation" class="{% if request.GET.step == '1' %}active{% else %}disabled{% endif %}">
														<a href="/activities?step=1&id={{request.GET.id}}" data-toggle="fielding" aria-controls="fielding" role="tab" aria-expanded="true"><span class="round-tab">2</span> <i>Fielding</i></a>
													</li>
													<li role="presentation" class="{% if request.GET.step == '2' %}active{% else %}disabled{% endif %}">
														<a href="/activities?step=2&id={{request.GET.id}}" data-toggle="planning" aria-controls="planning" role="tab" aria-expanded="true"><span class="round-tab">3</span> <i>Planning(Design)</i></a>
													</li>
													<li role="presentation" class="{% if request.GET.step == '3' %}active{% else %}disabled{% endif %}">
														<a href="/activities?step=3&id={{request.GET.id}}" data-toggle="drafting" aria-controls="drafting" role="tab" aria-expanded="true"><span class="round-tab">4</span> <i>Drafting</i></a>
													</li>
													<li role="presentation" class="{% if request.GET.step == '4' %}active{% else %}disabled{% endif %}">
														<a href="/activities?step=4&id={{request.GET.id}}" data-toggle="qc_project" aria-controls="qc_project" role="tab" aria-expanded="true"><span class="round-tab">5</span> <i>QC Project</i></a>
													</li>
													<li role="presentation" class="{% if request.GET.step == '6' %}active{% else %}disabled{% endif %}">
														<a href="/activities?step=6&id={{request.GET.id}}" data-toggle="permit" aria-controls="permit" role="tab" aria-expanded="true"><span class="round-tab">6</span> <i>Permit</i></a>
													</li>
													<li role="presentation" class="{% if request.GET.step == '10' %}active{% else %}disabled{% endif %}">
														<a href="/activities?step=10&id={{request.GET.id}}" data-toggle="invoicing" aria-controls="invoicing" role="tab" aria-expanded="true"><span class="round-tab">7</span> <i>Invoicing</i></a>
													</li>
												</ul>
											</div>
							
												<div class="tab-content" id="main_form">
													<div class="tab-pane active" role="tabpanel" id="fielding">
														<h6 class="text-left" style="border-bottom:1px solid; color:#0caadc;"></h6>
														<a href="/task_details?step={{request.GET.step}}&id={{request.GET.id}}" class="btn btn-xs btn-primary pull-right text-white">Update Status</a><br>
														<div class="row upper_area">
															<div class="col-md-3 col-sm-4">
																<div class="form-group">
																	<label>Job Receive Date : {{activitydata.rec_date|date:"m/d/Y"}}</label> 
																</div>
															</div>
															<div class="col-md-3 col-sm-4">
																<div class="form-group">
																	<label>ECD : {{activitydata.ecd|date:"m/d/Y"}}</label> 
																</div>
															</div>
															<div class="col-md-3 col-sm-4">
																<div class="form-group">
																	<label>Client : {{activitydata.client_id.name}}</label>  
																</div>
															</div>
															<div class="col-md-3 col-sm-4">
																<div class="form-group">
																	<label>LUs : {{activitydata.lus}}</label>
																</div>
															</div>
															<div class="col-md-3 col-sm-4">
																<div class="form-group">
																	<label>Wire Center : {{activitydata.wire_center}}</label>
																</div>
															</div>
															<div class="col-md-3 col-sm-4">
																<div class="form-group">
																	<label>Job Type : {{activitydata.job_type}}</label>
																</div>
															</div>
															<div class="col-md-3 col-sm-4">
																<div class="form-group">
																	<label>Fielder : {{activitydata.assign_fielder.fname}} {{activitydata.assign_fielder.lname}}</label>
																</div>
															</div>
															<div class="col-md-3 col-sm-4">
																<div class="form-group">
																	<label>Engineer 1 : {{activitydata.assign_int_eng.fname}} {{activitydata.assign_int_eng.lname}}</label>
																</div>
															</div>
															<div class="col-md-3 col-sm-4">
																<div class="form-group">
																	<label>Engineer 2 : {{activitydata.int_eng2.fname}} {{activitydata.int_eng2.lname}}</label>
																</div>
															</div>
															
														</div>
														
														<h6 class="text-left" style="border-bottom:1px solid; margin-top:10px; color:#0caadc;">{{step}} Subtask</h6>
														<form novalidate action="/activities" method="post" enctype="multipart/form-data">
															<input type="hidden" name="activity_id" value="{{activitydata.id}}">
															<input type="hidden" name="type" value="{{act_type}}">
															<input type="hidden" name="added_by" value="{{request.user.id}}">
														<div class="table-responsive">
															<table class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
																<thead>
																	<tr>
																		<th width=15%>Subtask</th>
																		<th width=15%>Status</th>
																		<th width=15%>Start Date</th>
																		<th width=15%>Completed Date</th>
																		<th width=6%></th>
																		<th width=17%>Remark</th>
																		<th width=17%>Attachment</th>
																	</tr>
																</thead>
																<tbody>
																{% if task_subtask %}
																{% for tasks in task_subtask %}
																<tr>
																	<td>
																		<label>{{tasks.subtask.subtask}}</label>
																		<input type="hidden" value="{{tasks.subtask.subtask}}" id="subtask_id_{{tasks.id}}" name="subtask">			
																	</td>
																	<td>
																		<select class="form-control" name="status" id="status_id_{{tasks.id}}" required>
																			<option value="1" {% if tasks.status is 1 %}selected{% endif %}>Pending</option>
																			<option value="2" {% if tasks.status is 2 %}selected{% endif %}>Ongoing</option>
																			<option value="3" {% if tasks.status is 3 %}selected{% endif %}>Completed</option>
																		</select>
																	</td>
																	<td>
																		<input class="form-control custom_datepicker" data-provide="datepicker" data-date-autoclose="true" value="{{tasks.start_date|date:'m-d-Y'}}" type="text" autocomplete="off" name="start_date" title="Start Date" id="startdate_id_{{tasks.id}}" required>
																	</td>
																	<td>
																		<input class="form-control custom_datepicker" data-provide="datepicker" data-date-autoclose="true" value="{{tasks.complete_date|date:'m-d-Y'}}" type="text" autocomplete="off" name="complete_date" title="Complete Date" id="completedate_id_{{tasks.id}}" required>
																	</td>
																	<td>
																		<div class="text-center">
																			<button type="button" id="{{tasks.id}}" class="btn btn-success waves-effect waves-light save_button"><i class="fa fa-save"></i></button>
																		</div>
																	</td>
																	<td>
																		<div class="text-center">
																			<button type="button" class="btn btn-info waves-effect waves-light Remark" data-subtask="{{tasks.id}}">{{tasks.id|count_remark}}&nbsp;<i class="far fa-comment-dots"></i></button>
																			<!--<button type="button" class="btn btn-info waves-effect waves-light Remark" data-subtask="{{tasks.id}}" data-toggle="modal" data-target="#remark_modal" ><i class="far fa-comment-dots"></i></button>-->
																		</div>
																	</td>
																	<td>
																		<div class="text-center">
																			<button type="button" class="btn btn-info waves-effect waves-light Attach" 
																			data-subtask="{{tasks.id}}">{{tasks.id|count_media}}&nbsp;<i class="fas fa-paperclip"></i></button>
																			<!--<button type="button" class="btn btn-info waves-effect waves-light Attach" 
																			data-subtask="{{tasks.id}}" data-toggle="modal" data-target="#attachment_modal" ><i class="fas fa-paperclip"></i></button>-->
																		</div>
																	</td>
																</tr>
																{% endfor %}
																{% endif %}
																	
																</tbody>
															</table>
														</div>
														</form>
														<div class="text-center" style="float:right;">
																				<button type="button" class="btn btn-success waves-effect waves-light" data-toggle="modal" data-target="#add_subtask_modal">Add Subtask &nbsp;<i class="fa fa-plus"></i></button>
																			</div>
													</div>
													
													<div class="clearfix"></div>
												</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
		</div>
	</div>
	<!-- end row -->
</div>
<!-- End Page-content -->

<div class="modal fade" id="remark_modal" tabindex="-1" role="dialog" aria-labelledby="remark_modal_Title" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title mt-0" id="remark_modal_Title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="/subtask_remark" method="post">
				{% csrf_token %}
				<input type="hidden" name="r_activity_id" value="{{request.GET.id}}">
				<input type="hidden" name="r_type" value="{{request.GET.step}}">
				<input type="hidden" name="r_task_id" value="">
				<input type="hidden" name="r_added_by" value="{{request.user.id}}">
			<div class="modal-body">
				<table class="table">
					<thead>
						<th>User</th>
						<th>Comment</th>
					</thead> 
					<tbody class="Remark_Body">
						
					</tbody>
				</table>
				<textarea class="form-control" name="remark" rows=5 title="Remarks" required></textarea>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="attachment_modal" tabindex="-1" role="dialog" aria-labelledby="attachment_modal_Title" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title mt-0" id="attachment_modal_Title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="/subtask_media" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<input type="hidden" name="m_activity_id" value="{{request.GET.id}}">
				<input type="hidden" name="m_type" value="{{request.GET.step}}">
				<input type="hidden" name="m_task_id" value="">
				<input type="hidden" name="m_added_by" value="{{request.user.id}}">
			<div class="modal-body">
				<table class="table">
					<thead>
						<th>User</th>
						<th>File</th>
						<th>Delete</th>
					</thead>
					<tbody class="Attach_Body">
						
					</tbody>
				</table>
				<input type="file" name="media" class="form-control" style="padding: 0rem 0.75rem;" required id="id_media">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="add_subtask_modal" tabindex="-1" role="dialog" aria-labelledby="subtask_modal_Title" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title mt-0" id="subtask_modal_Title">Add Subtask</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="/activities_subtask" method="post">
				{% csrf_token %}
			<input type="hidden" name="activity_id" value="{{request.GET.id}}">
			<input type="hidden" name="type" value="{{request.GET.step}}">
			<input type="hidden" name="added_by" value="{{request.user.id}}">
			<input type="hidden" name="status" value="2">
			<div class="modal-body">
				<table class="table">
					<thead>
						<th></th>
						<th>Task</th>
					</thead>
					<tbody> 
						{% if subtask_data %}
						{% for subtask_list in subtask_data%}
						<tr>
							<td><input id='{{subtask_list.subtask}}' type="radio" name="subtask" value="{{subtask_list.id}}" required></td>
							<td><label for="{{subtask_list.subtask}}">{{subtask_list.subtask}}</label>
							</td>
						</tr>
						{% endfor %}
						{% endif %}
					</tbody>
				</table>
				
			</div> 
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Save</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				
			</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

{% endblock %}

{% block script %}
<!-- Sweet Alert-->
<script src="{% static '/libs/sweetalert2/sweetalert2.min.js' %}"></script>
<script>
	function myfunction(fileid) 
 	{
		//var fileid = $(this).data("file-id");
		//alert(fileid);
		Swal.fire({
			title: "Are you sure?",
			text: "You won't be able to revert this!",
			type: "warning",
			showCancelButton: !0,
			confirmButtonColor: "#34c38f",
			cancelButtonColor: "#f46a6a",
			confirmButtonText: "Yes, delete it!",
			 preConfirm: function() {
			 
				var csr = $("input[name=csrfmiddlewaretoken]").val();
				 mydata = {page:'task_media_delete',id:fileid,csrfmiddlewaretoken:csr} 
			  return new Promise(function(resolve) {
				$.ajax({
				 url: '{% url "ajax" %}',
				 type: 'POST',
				 data: mydata,
				dataType: "json"
			  })
			  .done(function(response){
				 Swal.fire({
						  type: 'success',
						  title: 'File deleted succesfully',
						  confirmButtonColor: "#5156be",
						  preConfirm: function() {
								window.location.reload();
							 }
					})
				 })
			  .fail(function(){
				 Swal.fire('Oops...', 'Something went wrong!', 'error');
			  });
			  });
		  }
		});
 	}
</script>
<!-- Required datatable js -->
<script src="{% static 'libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script>
	$('.custom_datepicker').datepicker({
		format: 'mm-dd-yyyy'
	})
</script>
<script>
	$(".save_button").click(function(){
		var task_id = $(this).attr("id");
		var subtask = $("#subtask_id_"+task_id).val();
		var status = $("#status_id_"+task_id).val();
		var start_date = $("#startdate_id_"+task_id).val();
		var complete_date = $("#completedate_id_"+task_id).val();
		
		var csr = $("input[name=csrfmiddlewaretoken]").val();
		mydata = {page:'subtask_update', task_id:task_id, status:status, start_date:start_date, complete_date:complete_date, csrfmiddlewaretoken:csr};
		//alert(mydata);
		$.ajax({
			url: "{% url 'ajax' %}",
			method: "POST",
			//data: "task_id="+task_id+"&csrfmiddlewaretoken="+csr,
			data: mydata,
			success: function(data){
				//alert(data);
				if(data=='done'){
					window.location.reload();
				}
			},
		});
		
	});
	</script>
<script>
	$(".Attach").click(function(){
		var task_id = $(this).attr("data-subtask");
		var subtask_name = $("#subtask_id_"+task_id).val();
		var csr = $("input[name=csrfmiddlewaretoken]").val();
		//alert(subtask_name);
		mydata = {page:'attachment_fetch',task_id:task_id, csrfmiddlewaretoken:csr};
		//alert(mydata);
		$.ajax({
			url: "{% url 'ajax' %}",
			method: "POST",
			//data: "task_id="+task_id+"&csrfmiddlewaretoken="+csr,
			data: mydata,
			success: function(data){
				//console.log(data);
				$(".Attach_Body").html(data);
				$("#attachment_modal_Title").html(subtask_name+" Media");
				$('#attachment_modal').modal('show');
				$("input[name=m_task_id]").val(task_id);
			},
		});
		
	});
	$(".Remark").click(function(){
		var task_id = $(this).attr("data-subtask");
		var subtask_name = $("#subtask_id_"+task_id).val();
		var csr = $("input[name=csrfmiddlewaretoken]").val();
		mydata = {page:'remark_fetch',task_id:task_id,csrfmiddlewaretoken:csr};
		//alert('bye');
		$.ajax({
			url: "{% url 'ajax' %}",
			method: "POST",
			data: mydata,
			success: function(data){
				$(".Remark_Body").html(data);
				$("#remark_modal_Title").html(subtask_name+" Remark");
				$('#remark_modal').modal('show');
				$("input[name=r_task_id]").val(task_id);
			},
		});
	});
	</script>
	
	<script>
	$(".Alert_Pending_Task").click(function(){
		alert("Please complete previous task first!");
	});
	</script>
{% endblock %}