{% extends 'base.html' %}
{% load static %}

{% block title %} Fielder's Activity Calendar {% endblock %}

{% block css %}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.danger{
	color:#ff715b;
}
.col-form-label, .form-control{
	font-size:10px;
	color:black;
}

.form-control{
	height: calc(0.6em + 0.9rem + 1px);
	border-radius:0px;
	padding: 0.20rem 0.25rem;
}
.form-group {
    margin-bottom: 0rem;
}

.container-fluid {
    font-size: 10px;
}
label{
	font-weight: 400;
}
{% endblock %}

{% block link %}
<!-- Plugins css -->
<link href="{% static 'libs/fullcalendar/fullcalendar.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_content %}
<div class="page-content">
	{% csrf_token %}
	<!-- start page title -->
	<div class="row">
		<div class="col-12">
			<div class="page-title-box d-flex align-items-center justify-content-between">
				<h4 class="page-title mb-0 font-size-18">Fielder's Activity Calendar</h4>
				{%if act_list%}
				{%for activity in act_list%}
				{{activity.assign_fielder.fname}}
				{%endfor%}
				{%endif%}
				<!--<div class="page-title-right">
					<ol class="breadcrumb m-0">
						<li class="breadcrumb-item active">Calendar</li>
					</ol>
				</div>-->

			</div>
		</div>
	</div>
	<!-- end page title -->

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div id='calendar'></div>

					<div style='clear:both'></div>
				</div>
			</div>
		</div>
	</div>
	<!-- end row -->

</div>
<!-- End Page-content -->
{% endblock %}

{% block script %}

<!-- plugin js -->
<script src="{% static 'libs/moment/min/moment.min.js' %}"></script>
<script src="{% static 'libs/fullcalendar/fullcalendar.min.js' %}"></script>

<script>
	! function(i) {
		"use strict";
	
		function e() {}
		e.prototype.init = function() {
			if (i.isFunction(i.fn.fullCalendar)) {
				var e = new Date,
					t = e.getDate(),
					a = e.getMonth(),
					n = e.getFullYear();
				i("#calendar").fullCalendar({
					displayEventTime: false,
					header: {
						left: "prev,next today",
						center: "title",
						right: "month,basicWeek,basicDay"
					},
					drop: function(e, t) {
						var a = i(this).data("eventObject"),
							n = i.extend({}, a);
						n.start = e, n.allDay = t, i("#calendar").fullCalendar("renderEvent", n, !0), i("#drop-remove").is(":checked") && i(this).remove()
					},
					events: {{act_data|safe}}
				})
			} else alert("Calendar plugin is not installed")
		}, i.CalendarPage = new e, i.CalendarPage.Constructor = e
	}(window.jQuery),
	function() {
		"use strict";
		window.jQuery.CalendarPage.init()
	}();
</script>
{% endblock %}