{% extends 'base.html' %}
{% load static %}
{% load myfilters %}

{% block title %} Activity List {% endblock %}

{% block css %}
.danger{
	color:#ff715b;
}
.col-form-label, .form-control{
	font-size:10px;
}

.form-control{
	height: calc(0.6em + 0.9rem + 1px);
	border-radius:0px;
	padding: 0.20rem 0.25rem;
}
.form-group {
    margin-bottom: 0rem;
}

.container-fluid {
    font-size: 10px;
}
label{
	font-weight: 400;
}
.search_input{
	width:100%;
	height: calc(0.6em + 0.9rem + 1px);
	border-radius:0px;
	border:1px solid;
	padding: 0.20rem 0.25rem;
}



.custom-select {
	//background: #fff url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e) no-repeat right 0.75rem center/8px 10px;
	background: #fff;
}
table{
	width:100% !important;
}

.custom_btn{
	height:21px;
	padding: 0.05rem 0.65rem;
}

{% endblock %}

{% block link %}
<link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
<!--Sweat alert-->
<link href="{% static 'libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_content %}
<div class="page-content">

	<!-- start page title -->
	<div class="row">
		<div class="col-12">
			<div class="page-title-box d-flex align-items-center justify-content-between">
				<p class="page-title mb-0 font-size-12"><b>All Activities</b></p>

				<div class="page-title-right">
					<!--<p class="card-title">-->
						<div>
							<span class="badge badge-soft-warning font-size-11">R - Research</span>
							<span class="badge badge-soft-danger font-size-11">F - Fielding</span>
							<span class="badge badge-soft-primary font-size-11">P - Planning</span>
							<span class="badge badge-soft-success font-size-11">D - Drafting</span>
							<span class="badge badge-soft-info font-size-11">Q - QC Job</span>
						</div>
					<!--</p>-->
				</div>

			</div>
		</div>
	</div>
	<!-- end page title -->

	{% for message in messages  %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message : </strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
      {% endfor %}  

	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					{% csrf_token %}
					<!--<form method="get">
				{{myFilter.form}}
		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>-->
					<form method="get" action="">
						<div class="form-group row">
							<label class="col-md-1 col-form-label">Client</label>
							<div class="col-md-2">
								<select class="form-control" name="client" id="Client">
									<option value="">Select</option>
									{% for single_client in client_list %}
									<option value="{{single_client.id}}" {% if client_ins == single_client %} selected {% endif %}>{{single_client.name}}</option>
									{% endfor %}
								</select>
							</div>
							<label class="col-md-1 col-form-label">Start Date</label>
							<div class="col-md-2">
								<input class="form-control custom_datepicker" value="{{request.GET.start_date}}" type="text" name="start_date" autocomplete="off" title="Start Date" data-provide="datepicker" data-date-autoclose="true">
							</div>
							<label class="col-md-1 col-form-label">End Date</label>
							<div class="col-md-2">
								<input class="form-control custom_datepicker" value="{{request.GET.end_date}}" type="text" name="end_date" autocomplete="off" title="End Date" data-provide="datepicker" data-date-autoclose="true">
							</div>
							<button class="col-md-1 btn btn-sm btn-primary custom_btn" type="submit">Search</button>&nbsp;
							<a href="{% url 'activity_list' %}" class="col-md-1 btn btn-sm btn-danger custom_btn">Reset</a>
						</div>
					</form>
					<div class="table-responsive">
					
						<table id="actdatatable" class="table table-bordered" style="border-collapse: collapse; border-spacing: 0;">
							<thead>
								<tr>
									<th>S.No</th>
									<th>Ticket</th>
									<th>Job No.</th>
									<th>Job Receive Date</th>
									<th>EWO</th>
									<th>Type</th>
									<th>DA</th>
									<th>LUs</th>
									<th>Wire Center</th>
									<th>F1</th>
									<th>F2</th>
									<th>Activity</th>
									<th>QC Count</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
							<!--<td><span class="badge badge-soft-danger font-size-12">F</span></td>
							<td><span class="badge badge-soft-primary font-size-12">P</span></td>
							<td><span class="badge badge-soft-success font-size-12">D</span></td>-->
							
							{% for i in act_list %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ i.ticket }}</td>
								<td>{% if i.job_no %}{{ i.job_no }}{% endif %}</td>
								<td>{% if i.rec_date %}{{ i.rec_date|date:"m/d/Y" }}{% endif %}</td>
								<td>{% if i.ewo %}{{ i.ewo }}{% endif %}</td>
								<td>{% if i.job_type %}{{ i.job_type }}{% endif %}</td>
								<td>{% if i.da %}{{ i.da }}{% endif %}</td>
								<td>{% if i.lus %}{{ i.lus }}{% endif %}</td>
								<td>{% if i.wire_center %}{{ i.wire_center }}{% endif %}</td>
								<td>{% if i.f1cfas %}{{ i.f1cfas }}{% endif %}</td>
								<td>{% if i.f2cfas %}{{ i.f2cfas }}{% endif %}</td>
								<td>{% for activities in i.activity.all %}
									{% if activities.id is 5 %}
										<a href="/activities?step={{activities.id}}&id={{i.id}}"><span class="badge badge-soft-warning font-size-11">R</span></a>
									{% endif %}
									{% if activities.id is 1 %}
										<a href="/activities?step={{activities.id}}&id={{i.id}}"><span class="badge badge-soft-danger font-size-11">F</span></a>
									{% endif %}
									{% if activities.id is 2 %}
										<a href="/activities?step={{activities.id}}&id={{i.id}}"><span class="badge badge-soft-primary font-size-11">P</span></a>
									{% endif %}
									{% if activities.id is 3 %}
										<a href="/activities?step={{activities.id}}&id={{i.id}}"><span class="badge badge-soft-success font-size-11">D</span></a>
									{% endif %}
									{% if activities.id is 4 %}
										<a href="/activities?step={{activities.id}}&id={{i.id}}"><span class="badge badge-soft-info font-size-11">Q</span></a>
									{% endif %}
									{% endfor %}
								</td>
								<td>{% for activities in i.activity.all %}
									{% if activities.id is 1 %}
										{% if i.id|qc_count:'2' %}
											<span class="badge badge-soft-danger font-size-11">{{i.id|qc_count:'2'}}</span>
										{% endif %}
									{% endif %}
									{% if activities.id is 2 %}
										{% if i.id|qc_count:'6' %}
											<span class="badge badge-soft-primary font-size-11">{{i.id|qc_count:'6'}}</span>
										{% endif %}
									{% endif %}
									{% if activities.id is 3 %}
										{% if i.id|qc_count:'10' %}
											<span class="badge badge-soft-success font-size-11">{{i.id|qc_count:'10'}}</span>
										{% endif %}
									{% endif %}
									{% endfor %}
								</td>
								<td>
									<a title="View" href='/view_activity?id={{ i.id }}'><span><i class='mdi mdi-eye'></i></span></a>&nbsp;
									<a title="Edit" href='/create_activity?id={{ i.id }}'><span><i class='mdi mdi-pencil-outline'></i></span></a>&nbsp;
									<a title="Media" href='/media_list?activity_id={{ i.id }}'><span><i class='mdi mdi-image-outline'></i></span></a>&nbsp;
									<a title="Delete" href='javascript:void(0);' class="delete_activity" delete-id="{{ i.id }}"><span><i class='mdi mdi-delete'></i></span></a></td>
							</tr>
							{% endfor%}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end row -->
</div>
<!-- End Page-content -->
{% endblock %}

{% block script %}
<script src="{% static 'libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script>
	$('.custom_datepicker').datepicker({
		format: 'mm-dd-yyyy'
	})
</script>
<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/jszip/jszip.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

<!--Sweat alert-->
<script src="{% static 'libs/sweetalert2/sweetalert2.min.js' %}"></script>

<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.init.js' %}"></script>
<script>
 $(document).ready(function() {
    $('#datatable').DataTable();
	// start for next table //
	
	
	 $('#actdatatable thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#actdatatable thead');
 
    var table = $('#actdatatable').DataTable({
        orderCellsTop: true,
        fixedHeader: true,
		"pageLength": 50,
        initComplete: function () {
            var api = this.api();
 
            // For each column
            api
                .columns()
                .eq(0)
                .each(function (colIdx) {
                    // Set the header cell to contain the input element
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
					$(cell).html('<input type="text" class="search_input" placeholder="' + title + '" />');
 
                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('keyup change', function (e) {
                            e.stopPropagation();
 
                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})'; //$(this).parents('th').find('select').val();
 
                            var cursorPosition = this.selectionStart;
                            // Search the column for that value
                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();
 
                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
        }
    });
	
});
 </script>

 <script>

	$(".delete_activity").click(function(){
	var act_id = $(this).attr("delete-id");
   
	 Swal.fire({
				   title: "Are you sure?",
				   text: "You won't be able to revert this!",
				   type: "warning",
				   showCancelButton: !0,
				   confirmButtonColor: "#34c38f",
				   cancelButtonColor: "#f46a6a",
				   confirmButtonText: "Yes, delete it!",
					preConfirm: function() {
					
					   var csrf = $("input[name=csrfmiddlewaretoken]").val();
						mydata = {page:'activity_delete',act_id:act_id,csrfmiddlewaretoken:csrf} 
					 return new Promise(function(resolve) {
					   $.ajax({
						url: '{% url "ajax" %}',
						type: 'POST',
						data: mydata,
					   dataType: "json"
					 })
					 .done(function(response){
						Swal.fire({
								 type: 'success',
								 title: 'Activity Deleted',
								 confirmButtonColor: "#5156be",
								 preConfirm: function() {
									   window.location.reload();
									}
						   })
						})
					 .fail(function(){
						Swal.fire('Oops...', 'Something went wrong!', 'error');
					 });
					 });
				 }
			   });
	});
	</script>
{% endblock %}