{% extends 'base.html' %}
{% load static %}

{% block title %} Activity Calendar {% endblock %}

{% block css %}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.danger{
	color:#ff715b;
}
.col-form-label, .form-control{
	font-size:10px;
	color:black;
}

.form-control{
	height: calc(0.6em + 0.9rem + 1px);
	border-radius:0px;
	padding: 0.20rem 0.25rem;
}
.form-group {
    margin-bottom: 0rem;
}

.container-fluid {
    font-size: 10px;
}
label{
	font-weight: 400;
}
{% endblock %}

{% block link %}
<!-- Plugins css -->
<link href="{% static 'libs/fullcalendar/fullcalendar.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_content %}
<div class="page-content">
	{% csrf_token %}
	<!-- start page title -->
	<div class="row">
		<div class="col-12">
			<div class="page-title-box d-flex align-items-center justify-content-between">
				<h4 class="page-title mb-0 font-size-18">Calendar</h4>
				{%if act_list%}
				{%for activity in act_list%}
				{{activity.assign_fielder.fname}}
				{%endfor%}
				{%endif%}
				<div class="page-title-right">
					<ol class="breadcrumb m-0">
						<li class="breadcrumb-item active">Calendar</li>
					</ol>
				</div>

			</div>
		</div>
	</div>
	<!-- end page title -->

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div id='calendar'></div>

					<div style='clear:both'></div>
				</div>
			</div>
		</div>
	</div>
	<!-- end row -->

</div>
<!-- End Page-content -->
{% endblock %}

{% block script %}

<!-- plugin js -->
<script src="{% static 'libs/moment/min/moment.min.js' %}"></script>
<script src="{% static 'libs/fullcalendar/fullcalendar.min.js' %}"></script>

<script>
	/*var csr = $("input[name=csrfmiddlewaretoken]").val();
	mydata = {page:'activity_calendar', csrfmiddlewaretoken:csr};
	$.ajax({
		url: "{% url 'ajax' %}",
		method: "POST",
		//data: "task_id="+task_id+"&csrfmiddlewaretoken="+csr,
		data: mydata,
		success: function(cal_data){
			var full_data = cal_data.replace(new RegExp("'", 'g'),"");
			//var eventstring = new String();
			//eventstring = cal_data.toString().replace(/"/g, "");
			alert(full_data);
			
			//console.log(cal_list);
			//alert(JSON.stringify(data));
			//cal_data = JSON.stringify(data);
			! function(i) {
				"use strict";
			
				function e() {}
				e.prototype.init = function() {
					if (i.isFunction(i.fn.fullCalendar)) {
						i("#external-events .fc-event").each(function() {
							var e = {
								title: i.trim(i(this).text())
							};
							i(this).data("eventObject", e), i(this).draggable({
								zIndex: 999,
								revert: !0,
								revertDuration: 0
							})
						});
						var e = new Date,
							t = e.getDate(),
							a = e.getMonth(),
							n = e.getFullYear();
						i("#calendar").fullCalendar({
							header: {
								left: "prev,next today",
								center: "title",
								right: "month,basicWeek,basicDay"
							},
							editable: !0,
							eventLimit: !0,
							droppable: !0,
							drop: function(e, t) {
								var a = i(this).data("eventObject"),
									n = i.extend({}, a);
								n.start = e, n.allDay = t, i("#calendar").fullCalendar("renderEvent", n, !0), i("#drop-remove").is(":checked") && i(this).remove()
							},
							events: [{title: "All Day Event", start: new Date(2022, 4, 31)}, {title: "Al Day Event", start: new Date(2022, 4, 30)},
							full_data]
						}), i("#add_event_form").on("submit", function(e) {
							e.preventDefault();
							var t = i(this).find(".new-event-form"),
								a = t.val();
							if (3 <= a.length) {
								var n = "new" + Math.random().toString(36).substring(7);
								i("#external-events").append('<div id="' + n + '" class="fc-event">' + a + "</div>");
								var r = {
									title: i.trim(i("#" + n).text())
								};
								i("#" + n).data("eventObject", r), i("#" + n).draggable({
									revert: !0,
									revertDuration: 0,
									zIndex: 999
								}), t.val("").focus()
							} else t.focus()
						})
					} else alert("Calendar plugin is not installed")
				}, i.CalendarPage = new e, i.CalendarPage.Constructor = e
			}(window.jQuery),
			function() {
				"use strict";
				window.jQuery.CalendarPage.init()
			}();
			
		},
	});*/

	! function(i) {
		"use strict";
	
		function e() {}
		e.prototype.init = function() {
			if (i.isFunction(i.fn.fullCalendar)) {
				i("#external-events .fc-event").each(function() {
					var e = {
						title: i.trim(i(this).text())
					};
					i(this).data("eventObject", e), i(this).draggable({
						zIndex: 999,
						revert: !0,
						revertDuration: 0
					})
				});
				var e = new Date,
					t = e.getDate(),
					a = e.getMonth(),
					n = e.getFullYear();
				i("#calendar").fullCalendar({
					header: {
						left: "prev,next today",
						center: "title",
						right: "month,basicWeek,basicDay"
					},
					drop: function(e, t) {
						var a = i(this).data("eventObject"),
							n = i.extend({}, a);
						n.start = e, n.allDay = t, i("#calendar").fullCalendar("renderEvent", n, !0), i("#drop-remove").is(":checked") && i(this).remove()
					},
					events: {{act_data|safe}}
				}), i("#add_event_form").on("submit", function(e) {
					e.preventDefault();
					var t = i(this).find(".new-event-form"),
						a = t.val();
					if (3 <= a.length) {
						var n = "new" + Math.random().toString(36).substring(7);
						i("#external-events").append('<div id="' + n + '" class="fc-event">' + a + "</div>");
						var r = {
							title: i.trim(i("#" + n).text())
						};
						i("#" + n).data("eventObject", r), i("#" + n).draggable({
							revert: !0,
							revertDuration: 0,
							zIndex: 999
						}), t.val("").focus()
					} else t.focus()
				})
			} else alert("Calendar plugin is not installed")
		}, i.CalendarPage = new e, i.CalendarPage.Constructor = e
	}(window.jQuery),
	function() {
		"use strict";
		window.jQuery.CalendarPage.init()
	}();
	/*! function(i) {
		"use strict";
	
		function e() {}
		e.prototype.init = function() {
			if (i.isFunction(i.fn.fullCalendar)) {
				i("#external-events .fc-event").each(function() {
					var e = {
						title: i.trim(i(this).text())
					};
					i(this).data("eventObject", e), i(this).draggable({
						zIndex: 999,
						revert: !0,
						revertDuration: 0
					})
				});
				var e = new Date,
					t = e.getDate(),
					a = e.getMonth(),
					n = e.getFullYear();
				i("#calendar").fullCalendar({
					header: {
						left: "prev,next today",
						center: "title",
						right: "month,basicWeek,basicDay"
					},
					editable: !0,
					eventLimit: !0,
					droppable: !0,
					drop: function(e, t) {
						var a = i(this).data("eventObject"),
							n = i.extend({}, a);
						n.start = e, n.allDay = t, i("#calendar").fullCalendar("renderEvent", n, !0), i("#drop-remove").is(":checked") && i(this).remove()
					},
					events: [
					
					{
						title: "All Day Event",
						start: new Date(n, a, 1)
					}, {
						title: "Long Event",
						start: new Date(n, a, t - 5),
						end: new Date(n, a, t - 2)
					}, {
						id: 999,
						title: "Repeating Event",
						start: new Date(n, a, t - 3, 16, 0),
						allDay: !1
					}, {
						id: 999,
						title: "Repeating Event",
						start: new Date(n, a, t + 4, 16, 0),
						allDay: !1
					}, {
						title: "Meeting",
						start: new Date(n, a, t, 10, 30),
						allDay: !1
					}, {
						title: "Lunch",
						start: new Date(n, a, t, 12, 0),
						end: new Date(n, a, t, 14, 0),
						allDay: !1
					}, {
						title: "Birthday Party",
						start: new Date(n, a, t + 1, 19, 0),
						end: new Date(n, a, t + 1, 22, 30),
						allDay: !1
					}, {
						title: "Click for Google",
						start: new Date(n, a, 28),
						end: new Date(n, a, 29),
						url: "http://google.com/"
					}]
				}), i("#add_event_form").on("submit", function(e) {
					e.preventDefault();
					var t = i(this).find(".new-event-form"),
						a = t.val();
					if (3 <= a.length) {
						var n = "new" + Math.random().toString(36).substring(7);
						i("#external-events").append('<div id="' + n + '" class="fc-event">' + a + "</div>");
						var r = {
							title: i.trim(i("#" + n).text())
						};
						i("#" + n).data("eventObject", r), i("#" + n).draggable({
							revert: !0,
							revertDuration: 0,
							zIndex: 999
						}), t.val("").focus()
					} else t.focus()
				})
			} else alert("Calendar plugin is not installed")
		}, i.CalendarPage = new e, i.CalendarPage.Constructor = e
	}(window.jQuery),
	function() {
		"use strict";
		window.jQuery.CalendarPage.init()
	}();*/
</script>
{% endblock %}