{% extends 'base.html' %}
{% load static %}
{% load myfilters %}

{% block title %} Bill View {% endblock %}

{% block css %}
.danger{
	color:#ff715b;
}
.col-form-label, .form-control{
	font-size:10px;
}

.form-control{
	height: calc(0.6em + 0.9rem + 1px);
	border-radius:0px;
	padding: 0.20rem 0.25rem;
}
.form-group {
    margin-bottom: 0rem;
}

.container-fluid {
    font-size: 10px;
}
label{
	font-weight: 400;
}
.search_input{
	width:100%;
	height: calc(0.6em + 0.9rem + 1px);
	border-radius:0px;
	border:1px solid;
	padding: 0.20rem 0.25rem;
}



.custom-select {
	//background: #fff url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e) no-repeat right 0.75rem center/8px 10px;
	background: #fff;
}

.custom_btn{
	height:21px;
	padding: 0.05rem 0.65rem;
}
{% endblock %}

{% block link %}
<link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_content %}
<div class="page-content">

	<!-- start page title -->
	<div class="row">
		<div class="col-12">
			<div class="page-title-box d-flex align-items-center justify-content-between">
				<p class="page-title mb-0 font-size-12"><b>All Bill</b></p>

				<div class="page-title-right">
					<!--<p class="card-title">-->
						<div>
							<span class="badge badge-soft-danger font-size-11">F - Fielding</span>
							<span class="badge badge-soft-primary font-size-11">P - Planning</span>
							<span class="badge badge-soft-success font-size-11">D - Drafting</span>
							<span class="badge badge-soft-info font-size-11">Q - QC Job</span>
						</div>
					<!--</p>-->
				</div>

			</div>
		</div>
	</div>
	<!-- end page title -->

	{% for message in messages  %}            
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message : </strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
      {% endfor %}  

	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<!--<h4 class="card-title">All Activities
						<div style="text-align:right;">
							<span class="badge badge-soft-danger font-size-12">F - Fielding</span>
							<span class="badge badge-soft-primary font-size-12">P - Planning</span>
							<span class="badge badge-soft-success font-size-12">D - Drafting</span>
						</div>
					</h4>-->
					<form method="get" action="">
						<div class="form-group row">
							<label class="col-md-1 col-form-label">Client</label>
							<div class="col-md-2">
								<select class="form-control" name="client" id="Client">
									<option value="">Select</option>
									{% for single_client in client_list %}
									<option value="{{single_client.id}}" {% if client_ins == single_client %} selected {% endif %}>{{single_client.name}}</option>
									{% endfor %}
								</select>
							</div>
							<label class="col-md-1 col-form-label">Start Date</label>
							<div class="col-md-2">
								<input class="form-control custom_datepicker" value="{{request.GET.start_date}}" type="text" name="start_date" autocomplete="off" title="Start Date" data-provide="datepicker" data-date-autoclose="true">
							</div>
							<label class="col-md-1 col-form-label">End Date</label>
							<div class="col-md-2">
								<input class="form-control custom_datepicker" value="{{request.GET.end_date}}" type="text" name="end_date" autocomplete="off" title="End Date" data-provide="datepicker" data-date-autoclose="true">
							</div>
							<button class="col-md-1 btn btn-sm btn-primary custom_btn" type="submit">Search</button>&nbsp;
							<a href="{% url 'billview' %}" class="col-md-1 btn btn-sm btn-danger custom_btn">Reset</a>
						</div>
					</form>
					<div class="table-responsive">
						<table id="actdatatable" class="table table-bordered" style="border-collapse: collapse; border-spacing: 0;">
							<thead>
								<tr>
									<th>Action</th>
									<th>S.No</th>
									<th>DA ID</th>
									<th>EWO</th>
									<th>Ticket</th>
									<th>Market</th>
									<th>Sow</th>
									<th>Job Status</th>
									<th>Move to Drafting Week</th>
									<th>Bucket</th>
									<th>Job Assigned Date</th>
									<th>Fielder Name</th>
									<th>Fielder's ECD</th>
									<th>Client Provided ECD</th>
									<th>Fielding Submission Date</th>
									<th>Design Submission Date</th>
									<th>Fielding Correction Submission Date</th>
									<th>Design Correction Submission Date</th>
									<th>Approved Footages From Client</th>
									<th>Invoicing Status Fielding</th>
									<th>Invoicing Remarks</th>
									<th>Invoicing Status Desing</th>
								</tr>
							</thead>
							<tbody>
							<!--<td><span class="badge badge-soft-danger font-size-12">F</span></td>
							<td><span class="badge badge-soft-primary font-size-12">P</span></td>
							<td><span class="badge badge-soft-success font-size-12">D</span></td>-->
							
							{% for i in bill_list %}
							<tr>
								<td><a href='/create_bill?id={{ i.activity.id }}'><span><i class='mdi mdi-pencil-outline'></i></span></a></td>
								<td>{{ forloop.counter }}</td>
								<td>{% if i.activity.da != "None" %}{{ i.activity.da }}{% endif %}</td>
								<td>{% if i.activity.ewo != "None" %}{{ i.activity.ewo }}{% endif %}</td>
								<td>{% if i.activity.ticket != "None" %}{{ i.activity.ticket }}{% endif %}</td>
								<td>{{ i.activity.market|market }}</td>
								<td>{% for activities in i.activity.activity.all %}
									{% if activities.id is 1 %}
										<span class="badge badge-soft-danger font-size-11">F</span>
									{% endif %}
									{% if activities.id is 2 %}
										<span class="badge badge-soft-primary font-size-11">P</span>
									{% endif %}
									{% if activities.id is 3 %}
										<span class="badge badge-soft-success font-size-11">D</span>
									{% endif %}
									{% if activities.id is 4 %}
										<span class="badge badge-soft-info font-size-11">Q</span>
									{% endif %}
									{% endfor %}
								</td>
								<td>{{ i.job_status|job_status }}</td>
								<td>{% if i.drafting_week != "None" %}{{ i.drafting_week|date:"m/d/Y" }}{% endif %}</td>
								<td>{{ i.bucket|bucket }}</td>
								<td>{% if i.activity.rec_date != "None" %}{{ i.activity.rec_date|date:"m/d/Y" }}{% endif %}</td>
								<td>{% if i.activity.assign_fielder.fname != "None" %}{{ i.activity.assign_fielder.fname }}{% endif %} {% if i.activity.assign_fielder.lname != "None" %}{{ i.activity.assign_fielder.lname }}{% endif %}</td>
								<td>{% if i.fielder_ecd != "None" %}{{ i.fielder_ecd|date:"m/d/Y" }}{% endif %}</td>
								<td>{% if i.activity.ecd != "None" %}{{ i.activity.ecd|date:"m/d/Y" }}{% endif %}</td>
								<td>{% if i.fielder_sub_date != "None" %}{{ i.fielder_sub_date|date:"m/d/Y" }}{% endif %}</td>
								<td>{% if i.design_sub_date != "None" %}{{ i.design_sub_date|date:"m/d/Y" }}{% endif %}</td>
								<td>{% if i.field_correct_sub_date != "None" %}{{ i.field_correct_sub_date|date:"m/d/Y" }}{% endif %}</td>
								<td>{% if i.design_correct_sub_date != "None" %}{{ i.design_correct_sub_date|date:"m/d/Y" }}{% endif %}</td>
								<td>{% if i.activity.appr_footage %}{{ i.activity.appr_footage }}{% endif %}</td>
								<td>{{ i.invoicing_status_field|invoicing_status }}</td>
								<td>{% if i.invoicing_remark != "None" %}{{ i.invoicing_remark }}{% endif %}</td>
								<td>{{ i.invoicing_status_design|invoicing_status }}</td>
							</tr>
							{% endfor%}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end row -->
</div>
<!-- End Page-content -->
{% endblock %}

{% block script %}
<script src="{% static 'libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script>
	$('.custom_datepicker').datepicker({
		format: 'mm-dd-yyyy'
	})
</script>
<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/jszip/jszip.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.init.js' %}"></script>
<script>
 $(document).ready(function() {
    $('#datatable').DataTable();
	// start for next table //
	
	
	 $('#actdatatable thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#actdatatable thead');
 
    var table = $('#actdatatable').DataTable({
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
            var api = this.api();
 
            // For each column
            api
                .columns()
                .eq(0)
                .each(function (colIdx) {
                    // Set the header cell to contain the input element
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
					$(cell).html('<input type="text" class="search_input" placeholder="' + title + '" />');
 
                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('keyup change', function (e) {
                            e.stopPropagation();
 
                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})'; //$(this).parents('th').find('select').val();
 
                            var cursorPosition = this.selectionStart;
                            // Search the column for that value
                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();
 
                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
        }
    });
	
});
 </script>
{% endblock %}