{% extends 'base.html' %}
{% load static %}

{% block title %} Create Activity {% endblock %}

{% block css %}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.danger{
	color:#ff715b;
}
.col-form-label, .form-control{
	font-size:10px;
	color:black;
}

.form-control{
	height: calc(0.6em + 0.9rem + 1px);
	border-radius:0px;
	padding: 0.20rem 0.25rem;
}
.form-group {
    margin-bottom: 0px;
}
.container-fluid {
    font-size: 10px;
}
label{
	font-weight: 400;
}
{% endblock %}

{% block link %}
<!-- Plugins css -->
<link href="{% static 'libs/dropzone/min/dropzone.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_content %}
<div class="page-content">
	<!-- start page title -->
	<div class="row">
		<div class="col-12">
			<div class="page-title-box d-flex align-items-center justify-content-between">
				<p class="page-title mb-0 font-size-12"><b>Create Activity</b></p>
			
			</div>
		</div>
	</div>
	<!-- end page title -->

	{% for message in messages  %}            
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message : </strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
      {% endfor %}  

	<div class="row">
		<div class="col-lg-12">
			<form action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
				<input type="hidden" name="form_edit_id" value="{{edit_data.id}}"> 
				<input type="hidden" name="curr_assign_int_eng" value="{{edit_data.assign_int_eng}}"> 				
				<input type="hidden" name="added_by" value="{{added_by}}">  
				<input type="hidden" name="ticket" value="">  
				<div style="margin-bottom:5px;" class="card">
					<div class="card-body">
						<h6 style="color:#0caadc;">General Details</h6>
						<div class="form-group row">
							<label class="col-md-2 col-form-label">Job Receive Date<span class="danger">*</span></label>
							<div class="col-md-2">
								<input class="form-control custom_datepicker" value="{%if edit_recdate%}{{edit_recdate}}{%endif%}" type="text" autocomplete="off" name="rec_date" title="Job receive date" data-provide="datepicker" data-date-autoclose="true" required>
							</div>
							<label class="col-md-1 col-form-label">ECD</label>
							<div class="col-md-2">
								<input class="form-control custom_datepicker" value="{{edit_data.ecd|date:'m-d-Y'}}" type="text" name="ecd" autocomplete="off" title="ECD" data-provide="datepicker" data-date-autoclose="true">
							</div>
							<label class="col-md-1 col-form-label">Client<span class="danger">*</span></label>
							<div class="col-md-1">
								<select class="form-control" name="client" id="Client" required="required">
									<option value="">Select</option>
									{% for single_client in clients_list %}
									<option value="{{single_client.id}}" {% if edit_data.client_id == single_client %} selected="selected"{% endif %}>{{single_client.name}}</option>
									{% endfor %}
								</select>
							</div>
							<label class="col-md-1 col-form-label">Market</label>
							<div class="col-md-2">
								<select class="form-control" name="market">
									<option value="0">--Select--</option>
									<option value="1" {% if edit_data.market == 1 %} selected="selected"{% endif %}>AL</option>
									<option value="2" {% if edit_data.market == 2 %} selected="selected"{% endif %}>LA</option>
									<option value="3" {% if edit_data.market == 3 %} selected="selected"{% endif %}>FL</option>
									<option value="4" {% if edit_data.market == 4 %} selected="selected"{% endif %}>MS</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-2 col-form-label">DA</label>
							<div class="col-md-2">
								<input class="form-control" value="{{edit_data.da}}" type="text" name="da" title="DA" >
							</div>
							<label class="col-md-1 col-form-label">LUs</label>
							<div class="col-md-2">
								<input class="form-control" value="{{edit_data.lus}}" type="text" name="lus" title="LUs">
							</div>
							<label class="col-md-1 col-form-label">Wire Center</label>
							<div class="col-md-2">
								<input class="form-control" value="{{edit_data.wire_center}}" type="text" name="wire_center" title="Wire Center">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-2 col-form-label">Job Type</label>
							<div class="col-md-2">
								<select class="form-control" name="job_type">
									<option value="">--Select--</option>
									<option value="ASE" {% if edit_data.job_type == "ASE" %} selected="selected"{% endif %}>ASE</option>
									<option value="CRAN" {% if edit_data.job_type == "CRAN" %} selected="selected"{% endif %}>CRAN</option>
									<option value="MDU" {% if edit_data.job_type == "MDU" %} selected="selected"{% endif %}>MDU</option>
									<option value="F1" {% if edit_data.job_type == "F1" %} selected="selected"{% endif %}>F1</option>
									<option value="F2" {% if edit_data.job_type == "F2" %} selected="selected"{% endif %}>F2</option>
									<option value="DFIB" {% if edit_data.job_type == "DFIB" %} selected="selected"{% endif %}>DFIB</option>
									<option value="FFIB" {% if edit_data.job_type == "FFIB" %} selected="selected"{% endif %}>FFIB</option>
									<option value="ROD&ROPE" {% if edit_data.job_type == "ROD&ROPE" %} selected="selected"{% endif %}>ROD&ROPE</option>
									<option value="BACKBONE" {% if edit_data.job_type == "BACKBONE" %} selected="selected"{% endif %}>BACKBONE</option>
								</select>
							</div>
							<label class="col-md-1 col-form-label">Job No#</label>
							<div class="col-md-2">
								<input class="form-control" value="{{edit_data.job_no}}" type="text" name="job_no" title="Job No#">
							</div>
							<label class="col-md-1 col-form-label">EWO<span class='danger'>*</span></label>
							<div class="col-md-2">
								<input class="form-control" value="{{edit_data.ewo}}" type="text" name="ewo" title="EWO" required>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-2 col-form-label">PFP</label>
							<div class="col-md-5">
								<input class="form-control" value="{{edit_data.pfp}}" type="text" name="pfp" title="PFP" placeholder="Location address">
							</div>
							<div class="col-md-2">
								<input class="form-control" value="{{edit_data.latitude}}" type="text" name="latitude" title="Latitude" placeholder="Latitude">
							</div>
							<div class="col-md-2">
								<input class="form-control" value="{{edit_data.longitude}}" type="text" name="longitude" title="Longitude" placeholder="Longitude">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-2 col-form-label">Revised ECD</label>
							<div class="col-md-2">
								<input class="form-control custom_datepicker" value="{{edit_data.revised_ecd|date:'m-d-Y'}}" type="text" name="revised_ecd" autocomplete="off" title="Revised ECD" data-provide="datepicker" data-date-autoclose="true">
							</div>
							<label class="col-md-1 col-form-label">Client Ticket</label>
							<div class="col-md-2">
								<input class="form-control" value="{{edit_data.client_ticket}}" type="text" name="client_ticket" title="Client Ticket">
							</div>
						</div>
					</div>
				</div>
				<div style="margin-bottom:5px;" class="card">
					<div class="card-body">
						<h6 style="color:#0caadc;">F1 Details</h6>
						<div class="form-group row">
							<label class="col-md-2 col-form-label">F1 CFAS</label>
							<div class="col-md-2">
								<input class="form-control" value="{{edit_data.f1cfas}}" type="text" name="f1cfas" title="F1 CFAS">
							</div>
							<label class="col-md-1 col-form-label">F1 Job No#</label>
							<div class="col-md-2">
								<input class="form-control" value="{{edit_data.f2job_no}}" type="text" name="f1job_no" title="F1 Job No#">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-2 col-form-label">F1 SOW</label>
							<div class="col-md-5">
								<input class="form-control" value="{{edit_data.f1_sow}}" type="text" name="f1_sow" title="F1 SOW">
							</div>
						</div>
					</div>
				</div>
				<div style="margin-bottom:5px;" class="card">
					<div class="card-body">
						<h6 style="color:#0caadc;">F2 Details</h6>
						<div class="form-group row">
							<label class="col-md-2 col-form-label">F2 CFAS</label>
							<div class="col-md-2">
								<input class="form-control" value="{{edit_data.f2cfas}}" type="text" name="f2cfas" title="F2 CFAS">
							</div>
							<label class="col-md-1 col-form-label">F2 Job No#</label>
							<div class="col-md-2">
								<input class="form-control" value="{{edit_data.f2job_no}}" type="text" name="f2job_no" title="F2 Job">
							</div>
							
							
						</div>
						<div class="form-group row">
							<label class="col-md-2 col-form-label">F2 SOW</label>
							<div class="col-md-5">
								<input class="form-control" value="{{edit_data.f2_sow}}" type="text" name="f2_sow" title="F2 SOW">
							</div>
							
						</div>
						<div class="form-group row">
							<label class="col-md-2 col-form-label">Notes For Fielders</label>
							<div class="col-md-5">
								<textarea class="form-control" name="notes" rows=5 title="Notes For Fielders">{{edit_data.notes}}</textarea>
							</div>
							<label class="col-md-1 col-form-label">Activity<span class="danger">*</span></label>
							<div class="col-md-4">
								<div class="row">
								{% for activities in activities_list %}
									<div class="custom-control custom-checkbox col-md-3">
										<input type="checkbox" class="custom-control-input" value="{{activities.id}}" 
										{% if activities in edit_data.activity.all  %} checked {% endif %}
										 name="activity" id="activity_{{activities.id}}" >
										<label class="custom-control-label" style="padding-top: 3px;" for="activity_{{activities.id}}">{{activities}}</label>
									</div>
								{% endfor %}
								</div>
							</div>
							<!--<div class="col-md-4">
								<label class="col-form-label">Activity<span class="danger">*</span></label>
								{% for activities in activities_list %}
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" value="{{activities.id}}" 
										{% if activities in edit_data.activity.all  %} checked {% endif %}
										 name="activity" id="activity_{{activities.id}}" >
										<label class="custom-control-label" style="padding-top: 3px;" for="activity_{{activities.id}}">{{activities}}</label>
									</div>
								{% endfor %}
							</div>-->
						</div>
						<div class="form-group row mt-2">
							<label class="col-md-2 col-form-label">Assign Fielder</label>
							<div class="col-md-2">
								<select class="form-control" name="assign_fielder">
									<option value="0">--Select--</option>
									{% for single_feuser in feusers_list %}
									<option value="{{single_feuser.id}}" {% if edit_data.assign_fielder == single_feuser %} selected {% endif %}>{{single_feuser.fname}} {{single_feuser.lname}}</option>
									{% endfor %}
								</select>
							</div>
							<label class="col-md-1 col-form-label">Engineer 1</label>
							<div class="col-md-2">
								<select class="form-control" name="assign_int_eng">
									<option value="0">--Select--</option>
									{% for single_bayuser in bayusers_list %}
									{% if single_bayuser.role.id == 5 %}
									<option value="{{single_bayuser.id}}" {% if edit_data.assign_int_eng == single_bayuser %} selected {% endif %}>{{single_bayuser.fname}} {{single_bayuser.lname}}</option>
									{% endif %}
									{% endfor %}
								</select>
							</div>
							<label class="col-md-1 col-form-label">Engineer 2</label>
							<div class="col-md-2">
								<select class="form-control" name="int_eng2">
									<option value="0">--Select--</option>
									{% for single_bayuser in bayusers_list %}
									{% if single_bayuser.role.id == 5 %}
									<option value="{{single_bayuser.id}}" {% if edit_data.int_eng2 == single_bayuser %} selected {% endif %}>{{single_bayuser.fname}} {{single_bayuser.lname}}</option>
									{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="form-group row">
							
							<label class="col-md-2 col-form-label">Lead Eng</label>
							<div class="col-md-2">
								<select class="form-control" name="lead_eng">
									<option value="0">--Select--</option>
									{% for single_bayuser in bayusers_list %}
									{% if single_bayuser.role.id == 5 and single_bayuser.if_lead == 1 %}
									<option value="{{single_bayuser.id}}" {% if edit_data.lead_eng == single_bayuser %} selected {% endif %}>{{single_bayuser.fname}} {{single_bayuser.lname}}</option>
									{% endif %}
									{% endfor %}
								</select>
							</div>
							<label class="col-md-1 col-form-label">Work Print</label>
							<div class="col-md-2">
								<input class="form-control" value="{{edit_data.work_print}}" type="text" name="work_print" title="Work Print">
							</div>
							
							<label class="col-md-1 col-form-label">Footage</label>
							<div class="col-md-2">
							{% if edit_data.footage %}
								<input class="form-control" value="{{edit_data.footage}}" type="number" name="footage" title="Total Footage" placeholder="">
							{% else %}
								<input class="form-control" value="0" type="number" name="footage" title="Total Footage" placeholder="">
							{% endif %}
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-2 col-form-label">Terminals</label>
							<div class="col-md-2">
							{% if edit_data.terminal %}
								<input class="form-control" value="{{edit_data.terminal}}" type="number" name="terminal" title="Total Terminals" placeholder="">
							{% else %}
								<input class="form-control" value="0" type="number" name="terminal" title="Total Terminals" placeholder="">
							{% endif %}
								 
							</div>
						</div>
						
						<div class="form-group row mt-4">
							<button class="col-md-12 btn btn-primary">Submit</button>
						</div>
					</div>
					 
				</div>
		</div>
	</div>
	<!-- end row -->
</div>
<!-- End Page-content -->
{% endblock %}

{% block script %}

<script src="{% static 'libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script>
	$('.custom_datepicker').datepicker({
		format: 'mm-dd-yyyy'
	})
</script>

<!-- Plugins js -->
<script src="{% static 'libs/dropzone/min/dropzone.min.js' %}"></script>

<script>
	$(function() {
	
	  // This code will attach `fileselect` event to all file inputs on the page
	  $(document).on('change', ':file', function() {
		var input = $(this),
			numFiles = input.get(0).files ? input.get(0).files.length : 1,
			label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
		input.trigger('fileselect', [numFiles, label]);
	  });
	
	  
	  $(document).ready( function() {
	//below code executes on file input change and append name in text control
		  $(':file').on('fileselect', function(event, numFiles, label) {
	
			  var input = $(this).parents('.input-group').find(':text'),
				  log = numFiles > 1 ? numFiles + ' files selected' : label;
	
			  if( input.length ) {
				  input.val(log);
			  } else {
				  if( log ) alert(log);
			  }
	
		  });
	  });
	  
	});
	
		
	</script>
{% endblock %}