{% extends 'base.html' %}
{% load static %}
{% load myfilters %}

{% block title %} Dashboard {% endblock %}

{% block css %}
.container-fluid {
    font-size: 10px;
}
{% endblock %}

{% block link %}
	{% comment %} <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}"> {% endcomment %}

    <!-- jquery.vectormap css -->
    {% comment %} <link href="{% static 'assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css" /> {% endcomment %}

    <!-- Bootstrap Css -->
    {% comment %} <link href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" /> {% endcomment %}
    <!-- Icons Css -->
    {% comment %} <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" /> {% endcomment %}
    <!-- App Css-->
    {% comment %} <link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" /> {% endcomment %}
	<link href="{% static 'libs/apexcharts/apexcharts.css' %}" rel="stylesheet"/>
{% endblock %}

{% block page_content %}
<div class="page-content">
	<!-- start page title -->
	<div class="row">
		<div class="col-12">
			<div class="page-title-box d-flex align-items-center justify-content-between">
				<p class="page-title mb-0 font-size-12"><b>Dashboard</b></p>

				<!--<div class="page-title-right">
					<ol class="breadcrumb m-0">
						<li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
						<li class="breadcrumb-item active">Welcome to  Dashboard</li>
					</ol>
				</div>-->

			</div>
		</div>
	</div>
	<!-- end page title -->

	{% for message in messages  %}            
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message : </strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
      {% endfor %} 
	

	
	<!-- end row -->

	
	<!-- end row -->
	<div class="row">
		<div class="col-xl-3">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title mb-4">Activity Added</h4>

					<div>
						<div class="pb-3 border-bottom">
							<div class="row align-items-center mb=0">
								<div class="col-8">
									<p class="mb-2">Today's Task</p>
									<p class="mb-2">Yesterday's</p>
									
								</div>
								<div class="col-4">
									<div class="text-right">
										{% if added.today > added.yesterday %}
										<div class = "mb-2">
											{{added.today}}<i class="mdi mdi-arrow-up text-success ml-1"></i>
										</div>
										{% elif added.today == added.yesterday %}
										<div class = "mb-2 mr-3">
											{{added.today}}
										</div>
										{% else %}
										<div class = "mb-2">
											{{added.today}}<i class="mdi mdi-arrow-down text-danger ml-1"></i>
										</div>
										{% endif %}
										{% if added.yesterday > added.day_before_yesterday %}
										<div class = "mb-2">
											{{added.yesterday}}<i class="mdi mdi-arrow-up text-success ml-1"></i>
										</div>
										
										{% elif added.yesterday == added.day_before_yesterday %}
										<div class = "mb-2 mr-3">
											{{added.yesterday}}
										</div>
										{% else %}
										<div class = "mb-2">
											{{added.yesterday}}<i class="mdi mdi-arrow-down text-danger ml-1"></i>
										</div>
										{% endif %}
										
									</div>
								</div>
							</div>
						</div>
						<div class="py-3 border-bottom">
							<div class="row align-items-center my=0">
								<div class="col-8">
									
									{% comment %} <p class="mb-2">LAST Week</p> {% endcomment %}
									<p class="mb-2">This Week</p>
									<p class="mb-2">This Month</p>
									
								</div>
								<div class="col-4">
									<div class="text-right">
										{% comment %} <div class = "mb-2">
											{{added.last_week}}<i class="mdi mdi-arrow-up text-success ml-1"></i>
										</div> {% endcomment %}
										{% if added.this_week > added.last_week %}
										<div class = "mb-2">
											{{added.this_week}}<i class="mdi mdi-arrow-up text-success ml-1"></i>
										</div>
										{% elif added.this_week == added.last_week %}
										<div class = "mb-2 mr-3">
											{{added.this_week}}
										</div>
										{% else %}
										<div class = "mb-2">
											{{added.this_week}}<i class="mdi mdi-arrow-down text-danger ml-1"></i>
										</div>
										{% endif %}
										{% if added.month > added.previous_month %}
										<div class = "mb-2">
											{{added.month}}<i class="mdi mdi-arrow-up text-success ml-1"></i>
										</div>
										{% elif added.month == added.previous_month %}
										<div class = "mb-2 mr-3">
											{{added.month}}
										</div>
										{% else %}
										<div class = "mb-2">
											{{added.month}}<i class="mdi mdi-arrow-down text-danger ml-1"></i>
										</div>
										{% endif %}
										
									</div>
								</div>
							</div>
						</div>
						<div class="pt-3">
							<div class="row align-items-center">
								<div class="col-8">
									<p class="mb-2">This Year</p>
									{% comment %} <p class="mb-2">New Visitors</p> {% endcomment %}
									
								</div>
								<div class="col-4">
									<div class="text-right">
										{% if added.year > added.previous_year %}
										<div class = "mb-2">
											{{added.year}}<i class="mdi mdi-arrow-up text-success ml-1"></i>
										</div>
										{% elif added.year == added.previous_year %}
										<div class = "mb-2 mr-3">
											{{added.year}}
										</div>
										{% else %}
										<div class = "mb-2">
											{{added.year}}<i class="mdi mdi-arrow-down text-danger ml-1"></i>
										</div>
										{% endif %}
										{% comment %} <div class = "mb-2">
											2.06 % <i class="mdi mdi-arrow-up text-success ml-1"></i>
										</div> {% endcomment %}
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title mb-4">Activity Delivered</h4>

					<div>
						<div class="pb-3 border-bottom">
							<div class="row align-items-center mb=0">
								<div class="col-8">
									<p class="mb-2">Today's Task</p>
									<p class="mb-2">Yesterday's</p>
									{% comment %} <p class="mb-2">New Visitors</p> {% endcomment %}
									{% comment %} <p class="mb-2">New Visitors</p> {% endcomment %}
									{% comment %} <h4 class="mb-0">3,524</h4> {% endcomment %}
								</div>
								<div class="col-4">
									<div class="text-right">
										{% if completed.today > completed.yesterday %}
										<div class = "mb-2">
											{{completed.today}}<i class="mdi mdi-arrow-up text-success ml-1"></i>
										</div>
										{% elif completed.today == completed.yesterday %}
										<div class = "mb-2 mr-3">
											{{completed.today}}
										</div>
										{% else %}
										<div class = "mb-2">
											{{completed.today}}<i class="mdi mdi-arrow-down text-danger ml-1"></i>
										</div>
										{% endif %}
										{% if completed.yesterday > completed.day_before_yesterday %}
										<div class = "mb-2">
											{{completed.yesterday}}<i class="mdi mdi-arrow-up text-success ml-1"></i>
										</div>
										
										{% elif completed.yesterday == completed.day_before_yesterday %}
										<div class = "mb-2 mr-3">
											{{completed.yesterday}}
										</div>
										{% else %}
										<div class = "mb-2">
											{{completed.yesterday}}<i class="mdi mdi-arrow-down text-danger ml-1"></i>
										</div>
										{% endif %}
										
									</div>
								</div>
							</div>
						</div>
						<div class="py-3 border-bottom">
							<div class="row align-items-center my=0">
								<div class="col-8">
									<p class="mb-2">This Week</p>
									<p class="mb-2">This Month</p>
									{% comment %} <p class="mb-2">New Visitors</p> {% endcomment %}
									{% comment %} <p class="mb-2">New Visitors</p> {% endcomment %}
									{% comment %} <h4 class="mb-0">3,524</h4> {% endcomment %}
								</div>
								<div class="col-4">
									<div class="text-right">
										{% if completed.this_week > completed.last_week %}
										<div class = "mb-2">
											{{completed.this_week}}<i class="mdi mdi-arrow-up text-success ml-1"></i>
										</div>
										{% elif completed.this_week == completed.last_week %}
										<div class = "mb-2 mr-3">
											{{completed.this_week}}
										</div>
										{% else %}
										<div class = "mb-2">
											{{completed.this_week}}<i class="mdi mdi-arrow-down text-danger ml-1"></i>
										</div>
										{% endif %}
										{% if completed.month > completed.previous_month %}
										<div class = "mb-2">
											{{completed.month}}<i class="mdi mdi-arrow-up text-success ml-1"></i>
										</div>
										{% elif completed.month == completed.previous_month %}
										<div class = "mb-2 mr-3">
											{{completed.month}}
										</div>
										{% else %}
										<div class = "mb-2">
											{{completed.month}}<i class="mdi mdi-arrow-down text-danger ml-1"></i>
										</div>
										{% endif %}
										
									</div>
								</div>
							</div>
						</div>
						<div class="pt-3">
							<div class="row align-items-center">
								<div class="col-8">
									<p class="mb-2">This Year</p>
									{% comment %} <p class="mb-2">New Visitors</p> {% endcomment %}
									
								</div>
								<div class="col-4">
									<div class="text-right">
										{% if completed.year > completed.previous_year %}
										<div class = "mb-2">
											{{completed.year}}<i class="mdi mdi-arrow-up text-success ml-1"></i>
										</div>
										{% elif completed.year == completed.previous_year %}
										<div class = "mb-2 mr-3">
											{{completed.year}}
										</div>
										{% else %}
										<div class = "mb-2">
											{{completed.year}}<i class="mdi mdi-arrow-down text-danger ml-1"></i>
										</div>
										{% endif %}
										{% comment %} <div class = "mb-2">
											2.06 % <i class="mdi mdi-arrow-up text-success ml-1"></i>
										</div> {% endcomment %}
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-6">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title mb-1">Last 10 Sites Time Taken</h4>
					<div id="chart" class="apex-charts"></div>
					
					
				</div>
			</div>
		</div>
	</div>
	<!-- end row -->
	<div class="row">
		<div class="col-lg-4">
			<div class="card bg-primary" style="height:90%">
				<div class="card-body">
					<div class="text-white-50">
						<h5 class="text-white">2400 + New Users</h5>
						<p>At vero eos et accusamus et iusto odio dignissimos ducimus</p>
						<div>
							<a href="#" class="btn btn-outline-success btn-sm">View more</a>
						</div>
					</div>
					<div class="row justify-content-end">
						<div class="col-8">
							<div class="mt-4">
								<img src="{% static 'images/widget-img.png' %}" alt="" class="img-fluid mx-auto d-block">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-8">
			<div class="card">
				<div class="card-body">
					<div class="float-right">
						<form method="Post">
							{% csrf_token %}
							<div class="input-group  input-group-sm">
								<select name="month" class="custom-select custom-select-sm">
									<option value="1" {% if act_month == 1 %}selected{% endif %}>Jan</option>
									<option value="2" {% if act_month == 2 %}selected{% endif %}>Feb</option>
									<option value="3" {% if act_month == 3 %}selected{% endif %}>Mar</option>
									<option value="4" {% if act_month == 4 %}selected{% endif %}>Apr</option>
									<option value="5" {% if act_month == 5 %}selected{% endif %}>May</option>
									<option value="6" {% if act_month == 6 %}selected{% endif %}>Jun</option>
									<option value="7" {% if act_month == 7 %}selected{% endif %}>Jul</option>
									<option value="8" {% if act_month == 8 %}selected{% endif %}>Aug</option>
									<option value="9" {% if act_month == 9 %}selected{% endif %}>Sep</option>
									<option value="10" {% if act_month == 10 %}selected{% endif %}>Oct</option>
									<option value="11" {% if act_month == 11 %}selected{% endif %}>Nov</option>
									<option value="12" {% if act_month == 12 %}selected{% endif %}>Dec</option>
								</select>
								<div class="input-group-append">
									<button class="input-group-text" type="submit">Go</button>
									<!--<label class="input-group-text">Month</label>-->
								</div>
							</div>
						</form>
					</div>
					<h4 class="card-title mb-2">Fielders - Jobs This Month</h4>
					<div id="client-chart" class="apex-charts" ></div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div class="card">
				<div class="card-body">
					<div class="float-right">
						<form method="Post">
							{% csrf_token %}
							<div class="input-group input-group-sm">
								<select name="months" class="custom-select custom-select-sm">
									<option value="1" {% if act_month1 == 1 %}selected{% endif %}>Jan</option>
									<option value="2" {% if act_month1 == 2 %}selected{% endif %}>Feb</option>
									<option value="3" {% if act_month1 == 3 %}selected{% endif %}>Mar</option>
									<option value="4" {% if act_month1 == 4 %}selected{% endif %}>Apr</option>
									<option value="5" {% if act_month1 == 5 %}selected{% endif %}>May</option>
									<option value="6" {% if act_month1 == 6 %}selected{% endif %}>Jun</option>
									<option value="7" {% if act_month1 == 7 %}selected{% endif %}>Jul</option>
									<option value="8" {% if act_month1 == 8 %}selected{% endif %}>Aug</option>
									<option value="9" {% if act_month1 == 9 %}selected{% endif %}>Sep</option>
									<option value="10" {% if act_month1 == 10 %}selected{% endif %}>Oct</option>
									<option value="11" {% if act_month1 == 11 %}selected{% endif %}>Nov</option>
									<option value="12" {% if act_month1 == 12 %}selected{% endif %}>Dec</option>
								</select>
								<div class="input-group-append">
									<button class="input-group-text" type="submit">Go</button>
									<!--<label class="input-group-text">Month</label>-->
								</div>
							</div>
						</form>
					</div>
					<h4 class="card-title mb-2">Leaders - Jobs This Month</h4>
					<div id="client-chart1" class="apex-charts" ></div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title mb-4"> QC Correction in Jobs Type </h4>

					<div id="line-chart" class="apex-charts"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- end row -->
</div>
<!-- End Page-content -->
{% endblock %}

{% block script %}
<!-- JAVASCRIPT -->
{% comment %} <script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'assets/libs/metismenu/metisMenu.min.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script> {% endcomment %}

 
 <!-- apexcharts -->
 <script src="{% static 'libs/apexcharts/apexcharts.min.js' %}"></script>
 {% comment %} <script src="{% static 'libs/apexcharts/apexcharts.js' %}"></script> {% endcomment %}
 {% comment %} <script src="{% static 'assets/js/app.js' %}"></script> {% endcomment %}
 <!-- jquery.vectormap map -->
 {% comment %} <script src="{% static 'assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
 <script src="{% static 'assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js' %}"></script> {% endcomment %}

 {% comment %} <script src="{% static 'assets/js/pages/dashboard.init.js' %}"></script> {% endcomment %}
 <script  type='text/javascript'>
	var options = {
		series: [
		  { name: "Fielding", type: "line", data: [{{fielding.f_jan}},{{fielding.f_feb}},{{fielding.f_mar}},{{fielding.f_apr}},{{fielding.f_may}},{{fielding.f_jun}},{{fielding.f_jul}},{{fielding.f_aug}},{{fielding.f_sep}},{{fielding.f_oct}},{{fielding.f_nov}},{{fielding.f_dec}}] },
		  { name: "Planning", data: [{{planning.f_jan}},{{planning.f_feb}},{{planning.f_mar}},{{planning.f_apr}},{{planning.f_may}},{{planning.f_jun}},{{planning.f_jul}},{{planning.f_aug}},{{planning.f_sep}},{{planning.f_oct}},{{planning.f_nov}},{{planning.f_dec}}], type: "line" },
		  { name: "Drafting", data: [{{drafting.f_jan}},{{drafting.f_feb}},{{drafting.f_mar}},{{drafting.f_apr}},{{drafting.f_may}},{{drafting.f_jun}},{{drafting.f_jul}},{{drafting.f_aug}},{{drafting.f_sep}},{{drafting.f_oct}},{{drafting.f_nov}},{{drafting.f_dec}}], type: "line" },
		  { name: "QC Job", data: [{{qc.f_jan}},{{qc.f_feb}},{{qc.f_mar}},{{qc.f_apr}},{{qc.f_may}},{{qc.f_jun}},{{qc.f_jul}},{{qc.f_aug}},{{qc.f_sep}},{{qc.f_oct}},{{qc.f_nov}},{{qc.f_dec}}], type: "line" },
		],
		chart: {
		  height: 260,
		  type: "line",
		  toolbar: { show: !1 },
		  zoom: { enabled: !1 },
		},
		colors: ["#DC3545", "#3766d5","#5fd195","#98cacd"],
		dataLabels: { enabled: !1 },
		stroke: { curve: "smooth", width: "3",dashArray: [4, 0] },
		markers: { size: 3 },
		xaxis: {
		  categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug","Sep","Oct","Nov","Dec"],
		  title: { text: "Month" },
		},
		yaxis: {
			labels: {
				/**
				* Allows users to apply a custom formatter function to yaxis labels.
				*
				* @param { String } value - The generated value of the y-axis tick
				* @param { index } index of the tick / currently executing iteration in yaxis labels array
				*/
				formatter: function(val, index) {
				  return val.toFixed(0);
				}
			  },
		},
		{% comment %} fill: { type: "solid", opacity: [1, 0.1] }, {% endcomment %}
		legend: { position: "top", horizontalAlign: "right" },
	  };
	  (chart = new ApexCharts(
		document.querySelector("#line-chart"),
		options
	  )).render();
/////////////////////////////////////////
	var options = {
		
		series: [{
		name: 'Amdocs',
		type:'column',
		data: {{lead_cl1_output|safe}}
	  }, {
		name: 'Byers',
		type: 'column',
		data: {{lead_cl2_output|safe}}
	  }, {
		name: 'DraftPros',
		type: 'column',
		data: {{lead_cl3_output|safe}}
	  }],
		chart: {
		type: 'line',
		height: 330,
		stacked: !1,
        toolbar: {
            show: !1
        }
	  },
	  plotOptions: {
		bar: {
		  horizontal: false,
		  columnWidth: '50%',
		  endingShape: 'rounded'
		},
	  },
	  dataLabels: {
		enabled: false
	  },
	  stroke: {
		width: [0, 1, 1],
        curve: "smooth",
        dashArray: [0, 0, 0]
	  },
	  xaxis: {
		title: {
			text: 'Fielder Name'
		  },
		categories: {{leads|safe}},
	  },
	  yaxis: {
		labels: {
			/**
			* Allows users to apply a custom formatter function to yaxis labels.
			*
			* @param { String } value - The generated value of the y-axis tick
			* @param { index } index of the tick / currently executing iteration in yaxis labels array
			*/
			formatter: function(val, index) {
			  return val.toFixed(0);
			}
		  },
		title: {
		  text: 'Total Sites'
		},
		tooltip: {
			
			enabled: true,
			offsetX: 0,
		},
		
		
	  },
	  fill: {
		opacity: [.85, .25, 1],
        gradient: {
            inverseColors: !1,
            shade: "light",
            type: "vertical",
            opacityFrom: .85,
            opacityTo: .55,
            stops: [0, 100, 100, 100]
        }
	  },
	  colors: ["#3b5de7", "#eeb902", "#5fd195"],
    	markers: {
        size: 0
      },
	 
	  };

	  var chart = new ApexCharts(document.querySelector("#client-chart1"), options);
	  chart.render();
	


 </script>
 <script  type='text/javascript'>
	var options = {
		
		series: [{
		name: 'Amdocs',
		type:'column',
		data: {{field_cl1_output|safe}}
	  }, {
		name: 'Byers',
		type: 'column',
		data: {{field_cl2_output|safe}}
	  }, {
		name: 'DraftPros',
		type: 'column',
		data: {{field_cl3_output|safe}}
	  }],
		chart: {
		type: 'line',
		height: 330,
		stacked: !1,
        toolbar: {
            show: !1
        }
	  },
	  plotOptions: {
		bar: {
		  horizontal: false,
		  columnWidth: '50%',
		  endingShape: 'rounded'
		},
	  },
	  dataLabels: {
		enabled: false
	  },
	  stroke: {
		width: [0, 1, 1],
        curve: "smooth",
        dashArray: [0, 0, 0]
	  },
	  xaxis: {
		title: {
			text: 'Fielder Name'
		  },
		categories: {{fe_name|safe}},
	  },
	  yaxis: {
		labels: {
			/**
			* Allows users to apply a custom formatter function to yaxis labels.
			*
			* @param { String } value - The generated value of the y-axis tick
			* @param { index } index of the tick / currently executing iteration in yaxis labels array
			*/
			formatter: function(val, index) {
			  return val.toFixed(0);
			}
		  },
		title: {
		  text: 'Total Sites'
		},
		tooltip: {
			
			enabled: true,
			offsetX: 0,
		},
		
		
	  },
	  fill: {
		opacity: [.85, .25, 1],
        gradient: {
            inverseColors: !1,
            shade: "light",
            type: "vertical",
            opacityFrom: .85,
            opacityTo: .55,
            stops: [0, 100, 100, 100]
        }
	  },
	  colors: ["#3b5de7", "#eeb902", "#5fd195"],
    	markers: {
        size: 0
      },
	 
	  };

	  var chart = new ApexCharts(document.querySelector("#client-chart"), options);
	  chart.render();
	


 </script>
 <script>
	var options = {
		
		series: [{
		name:'Days',
		data : {{days_list}}
	  },],
		chart: {
		type: 'bar',
		height: 230
	  },
	  plotOptions: {
		bar: {
		  borderRadius: 4,
		  horizontal: true,
		}
	  },
	  dataLabels: {
		enabled: false
	  },
	  xaxis: {
		  title:{
			  text:'Total Days'
		  },
		categories: {{ewo_list|safe}},
	  },
	  yaxis: {
		title:{
			text:'EWO No#'
		}
	},
	
	  };

	  var chart = new ApexCharts(document.querySelector("#chart"), options);
	  chart.render();
	
	
  
 </script>
{% endblock %}

