{% extends 'base.html' %}
{% load static %}
{% load myfilters %}

{% block title %} Dashboard {% endblock %}

{% block css %}
.container-fluid {
    font-size: 10px;
}
{% endblock %}

{% block link %}
<link href="{% static 'libs/apexcharts/apexcharts.css' %}" rel="stylesheet"/>
{% endblock %}

{% block page_content %}
<div class="page-content">
	<!-- start page title -->
	<div class="row">
		<div class="col-12">
			<div class="page-title-box d-flex align-items-center justify-content-between">
				<p class="page-title mb-0 font-size-12"><b>Dashboard</b></p>

				<!--<div class="page-title-right">
					<ol class="breadcrumb m-0">
						<li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
						<li class="breadcrumb-item active">Welcome to  Dashboard</li>
					</ol>
				</div>-->

			</div>
		</div>
	</div>
	<!-- end page title -->

	{% for message in messages  %}            
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message : </strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
      {% endfor %} 
	

	
	<!-- end row -->

	
	<!-- end row -->
	<div class="row">
		<div class="col-xl-3">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title mb-4">Activity Added</h4>

					<div>
						<div class="pb-3 border-bottom">
							<div class="row align-items-center mb=0">
								<div class="col-8">
									<p class="mb-2">Today's Task</p>
									<p class="mb-2">Yesterday's</p>
									
								</div>
								<div class="col-4">
									<div class="text-right">
										<div class = "mb-2">
											{{added.today}}<i class="mdi mdi-arrow-up text-success ml-1"></i>
										</div>
										<div class = "mb-2">
											{{added.yesterday}}<i class="mdi mdi-arrow-up text-success ml-1"></i>
										</div>
										
									</div>
								</div>
							</div>
						</div>
						<div class="py-3 border-bottom">
							<div class="row align-items-center my=0">
								<div class="col-8">
									<p class="mb-2">This Week</p>
									<p class="mb-2">This Month</p>
									
								</div>
								<div class="col-4">
									<div class="text-right">
										<div class = "mb-2">
											{{added.this_week}}<i class="mdi mdi-arrow-up text-success ml-1"></i>
										</div>
										<div class = "mb-2">
											{{added.month}}<i class="mdi mdi-arrow-up text-success ml-1"></i>
										</div>
										
									</div>
								</div>
							</div>
						</div>
						<div class="pt-3">
							<div class="row align-items-center">
								<div class="col-8">
									<p class="mb-2">This Year</p>
									{% comment %} <p class="mb-2">New Visitors</p> {% endcomment %}
									
								</div>
								<div class="col-4">
									<div class="text-right">
										<div class = "mb-2">
											{{added.year}}<i class="mdi mdi-arrow-up text-success ml-1"></i>
										</div>
										{% comment %} <div class = "mb-2">
											2.06 % <i class="mdi mdi-arrow-up text-success ml-1"></i>
										</div> {% endcomment %}
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title mb-4">Activity Delivered</h4>

					<div>
						<div class="pb-3 border-bottom">
							<div class="row align-items-center mb=0">
								<div class="col-8">
									<p class="mb-2">Today's Task</p>
									<p class="mb-2">Yesterday's</p>
									{% comment %} <p class="mb-2">New Visitors</p> {% endcomment %}
									{% comment %} <p class="mb-2">New Visitors</p> {% endcomment %}
									{% comment %} <h4 class="mb-0">3,524</h4> {% endcomment %}
								</div>
								<div class="col-4">
									<div class="text-right">
										<div class = "mb-2">
											{{completed.today}}<i class="mdi mdi-arrow-up text-success ml-1"></i>
										</div>
										<div class = "mb-2">
											{{completed.yesterday}}<i class="mdi mdi-arrow-up text-success ml-1"></i>
										</div>
										
									</div>
								</div>
							</div>
						</div>
						<div class="py-3 border-bottom">
							<div class="row align-items-center my=0">
								<div class="col-8">
									<p class="mb-2">This Week</p>
									<p class="mb-2">This Month</p>
									{% comment %} <p class="mb-2">New Visitors</p> {% endcomment %}
									{% comment %} <p class="mb-2">New Visitors</p> {% endcomment %}
									{% comment %} <h4 class="mb-0">3,524</h4> {% endcomment %}
								</div>
								<div class="col-4">
									<div class="text-right">
										<div class = "mb-2">
											{{completed.this_week}}<i class="mdi mdi-arrow-up text-success ml-1"></i>
										</div>
										<div class = "mb-2">
											{{completed.month}}<i class="mdi mdi-arrow-up text-success ml-1"></i>
										</div>
										
									</div>
								</div>
							</div>
						</div>
						<div class="pt-3">
							<div class="row align-items-center">
								<div class="col-8">
									<p class="mb-2">This Year</p>
									{% comment %} <p class="mb-2">New Visitors</p> {% endcomment %}
									
								</div>
								<div class="col-4">
									<div class="text-right">
										<div class = "mb-2">
											{{completed.year}}<i class="mdi mdi-arrow-up text-success ml-1"></i>
										</div>
										{% comment %} <div class = "mb-2">
											2.06 % <i class="mdi mdi-arrow-up text-success ml-1"></i>
										</div> {% endcomment %}
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-6">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title mb-1">Last 10 Sites Time Taken</h4>
					<div id="chart" class="apex-charts"></div>
					
					
				</div>
			</div>
		</div>
	</div>
	<!-- end row -->
	<div class="row">
		<div class="col-lg-4">
			<div class="card bg-primary" style="height:90%">
				<div class="card-body">
					<div class="text-white-50">
						<h5 class="text-white">2400 + New Users</h5>
						<p>At vero eos et accusamus et iusto odio dignissimos ducimus</p>
						<div>
							<a href="#" class="btn btn-outline-success btn-sm">View more</a>
						</div>
					</div>
					<div class="row justify-content-end">
						<div class="col-8">
							<div class="mt-4">
								<img src="{% static 'images/widget-img.png' %}" alt="" class="img-fluid mx-auto d-block">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-8">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title mb-2">Resources - Jobs This Month</h4>

					<div id="client-chart" class="apex-charts" ></div>
				</div>
			</div>
		</div>
	</div>
	<!-- end row -->
</div>
<!-- End Page-content -->
{% endblock %}

{% block script %}
 
 <!-- apexcharts -->
 <script src="{% static 'libs/apexcharts/apexcharts.min.js' %}"></script>
 <script src="{% static 'libs/apexcharts/apexcharts.js' %}"></script>

 <script  type='text/javascript'>
	var options = {
		
		series: [{
		name: 'Amdocs',
		type:'column',
		data: {{field_cl1_output|safe}}
	  }, {
		name: 'Byers',
		type: 'column',
		data: {{field_cl2_output|safe}}
	  }, {
		name: 'DraftPros',
		type: 'column',
		data: {{field_cl3_output|safe}}
	  }],
		chart: {
		type: 'line',
		height: 330,
		stacked: !1,
        toolbar: {
            show: 1
        }
	  },
	  plotOptions: {
		bar: {
		  horizontal: false,
		  columnWidth: '50%',
		  endingShape: 'rounded'
		},
	  },
	  dataLabels: {
		enabled: false
	  },
	  stroke: {
		width: [0, 1, 1],
        curve: "smooth",
        dashArray: [0, 0, 0]
	  },
	  xaxis: {
		title: {
			text: 'Fielder Name'
		  },
		categories: {{fe_name|safe}},
	  },
	  yaxis: {
		labels: {
			/**
			* Allows users to apply a custom formatter function to yaxis labels.
			*
			* @param { String } value - The generated value of the y-axis tick
			* @param { index } index of the tick / currently executing iteration in yaxis labels array
			*/
			formatter: function(val, index) {
			  return val.toFixed(0);
			}
		  },
		title: {
		  text: 'Total Sites'
		},
		tooltip: {
			
			enabled: true,
			offsetX: 0,
		},
		
		
	  },
	  fill: {
		opacity: [.85, .25, 1],
        gradient: {
            inverseColors: !1,
            shade: "light",
            type: "vertical",
            opacityFrom: .85,
            opacityTo: .55,
            stops: [0, 100, 100, 100]
        }
	  },
	  colors: ["#3b5de7", "#eeb902", "#5fd195"],
    	markers: {
        size: 0
      },
	 
	  };

	  var chart = new ApexCharts(document.querySelector("#client-chart"), options);
	  chart.render();
	


 </script>
 <script>
	var options = {
		
		series: [{
		name:'Days',
		data : {{days_list}}
	  },],
		chart: {
		type: 'bar',
		height: 230
	  },
	  plotOptions: {
		bar: {
		  borderRadius: 4,
		  horizontal: true,
		}
	  },
	  dataLabels: {
		enabled: false
	  },
	  xaxis: {
		  title:{
			  text:'Total Days'
		  },
		categories: {{ewo_list|safe}},
	  },
	  yaxis: {
		title:{
			text:'EWO No#'
		}
	},
	
	  };

	  var chart = new ApexCharts(document.querySelector("#chart"), options);
	  chart.render();
	
	
  
 </script>
{% endblock %}

