{% extends 'base.html' %}
{% load static %}
{% load myfilters %}

{% block title %} Media List {% endblock %}

{% block css %}
.danger{
	color:#ff715b;
}
.col-form-label, .form-control{
	font-size:10px;
}

.form-control{
	height: calc(0.6em + 0.9rem + 1px);
	border-radius:0px;
	padding: 0.20rem 0.25rem;
}
.form-group {
    margin-bottom: 0rem;
}

.container-fluid {
    font-size: 10px;
}
label{
	font-weight: 400;
}

{% endblock %}

{% block link %}
<!-- Sweet Alert-->
<link href="{% static 'libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block page_content %}
<div class="page-content">
	<!-- start page title -->
	<div class="row">
		<div class="col-12">
			<div class="page-title-box d-flex align-items-center justify-content-between">
				<p class="page-title mb-0 font-size-12"><b>All Media of Job - DA {{activity_data.da}}</b></p>
			
			</div>
		</div>
	</div>
	<!-- end page title -->
	{% for message in messages  %}            
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message : </strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<div>
						<label style="color:#3b5de7;" class="col-md-2">LUs - {{activity_data.lus}}</Label>
						<label style="color:#3b5de7;" class="col-md-7">PFP - {{activity_data.pfp}}</Label>
					</div>
					<div>
						<label style="color:#ffffff; background-color:#3b5de7; text-align:center;" class="col-md-2">Aramis Drafting</Label>
					</div>
					<div class="">
						<table class="table mb-5">
							<thead>
								<tr>
									<th>F1 Media Files</th>
									<th></th>
									<th></th>
									<th><button type="button" class="btn btn-primary btn-sm waves-effect waves-light" onClick="Add_Files('f1')" data-toggle="modal" data-target=".bs-example-modal-center">Add Files</button></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>File Name</th>
									<th>Date</th>
									<th>Caption</th>
									<th>Added By</th>
									<th></th>
								</tr>
								{% if f1_files %}
								{% for f1 in f1_files %}
								<tr>
									<td><a href="{{ f1.file_name.url }}" target="_blank" title="{{ f1.file_name }}">{{ f1.file_name|toStr|mysplit }}</a></td>
									<td>{{ f1.added_date|date:"m/d/Y" }}</td>
									<td>{{ f1.media_name }}</td>
									<td>{{f1.added_by.fname}} {{f1.added_by.lname}}
									</td>
									<td><a href="javascript:void(0);" style="color:red;cursor:pointer;" class="delete_media" data-file-id="{{ f1.id }}" data-file-name="{{ f1.file_name }}"><i class="fas fa-trash"></i></a></td>
								</tr>
								{% endfor %}
								{% endif %}
							</tbody>
						</table>
					</div>
					<div class="">
						<table class="table mb-5">
							<thead>
								<tr>
									<th>F2 Media Files</th>
									<th></th>
									<th></th>
									<th><button type="button" class="btn btn-primary btn-sm waves-effect waves-light" onClick="Add_Files('f2')" data-toggle="modal" data-target=".bs-example-modal-center">Add Files</button></th>
								</tr>
							</thead>
							<tbody>
							<tr>
									<th>File Name</th>
									<th>Date</th>
									<th>Caption</th>
									<th>Added By</th> 
									<!--<th><b>Filetype</b></th>-->
									<th></th>
								</tr>
								{% if f2_files %}
								{% for f2 in f2_files %}
								<tr>
									<td>
										<a href="{{ f2.file_name.url }}" target="_blank" title="{{ f2.file_name }}">{{ f2.file_name|toStr|mysplit }}</a>
									</td>
									<td>{{ f2.added_date|date:"m/d/Y" }}</td>
									<td>{{ f2.media_name }}</td>
									<td>{{f2.added_by.fname}} {{f2.added_by.lname}}
									</td>
									<td><a href="javascript:void(0);" style="color:red;cursor:pointer;" class="delete_media" data-file-id="{{ f2.id }}" data-file-name="{{ f2.file_name }}"><i class="fas fa-trash"></i></a></td>
								</tr>
								{% endfor %}
								{% endif %}
							</tbody>
						</table> 
					</div> 
					<div class="">
						<table class="table mb-5">
							<thead>
								<tr>
									<th>Fielders File</th>
								</tr>
							</thead>
						</table>
					</div>
					
				</div>
			</div>
		</div>
	</div>   
	<!-- end row -->
</div>
<!-- End Page-content -->

<div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title mt-0">Upload Files</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="media_save" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="form-group row">
						<input type="hidden" name="type" class="Type">
						<input type="hidden" name="activity_id" value="{{request.GET.activity_id}}">
						<input type="hidden" name="da" class="activity_da_class" value="{{activity_data.da}}">
						<input type="hidden" name="added_by" class="" value="{{request.user.id}}">
						<label class="col-md-2 col-form-label"> File</label>
						<div class="col-md-6">
							<input type="file" name="file" multiple>
						</div>
					</div>
			   		<div class="form-group row">
						<label class="col-md-2 col-form-label">Caption</label>
						<div class="col-md-6">
							<input class="form-control" type="text" name="caption">
						</div>
					</div>
					<div class="form-group row">
						<button class="col-md-12 btn btn-primary">Submit</button>
					</div>
				</form>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
{% endblock %}

{% block script %}
<!-- Sweet Alert-->
<script src="{% static '/libs/sweetalert2/sweetalert2.min.js' %}"></script>
<script>
	function Add_Files(type){  
		  $(".Type").val(type);
	}
	
	{% comment %}(".delete_media").click(function(){
		var fileid = $(this).data("file-id");
		var filename = $(this).data("file-name");
		var activity_da = $('.activity_da_class').val();
		var csr = $("input[name=csrfmiddlewaretoken]").val();
		if(confirm("You want to delete this file ?")){
			mydata = {id: fileid, csrfmiddlewaretoken: csr};
			$.ajax({
				url: "{% url 'media_delete' %}",
				method: "POST",
				data: mydata,
				success: function(data){
					//console.log(data);
					location.reload();
				},
			});
		}
	});{% endcomment %}

	$(".delete_media").click(function(){
		var fileid = $(this).data("file-id");
		//alert(fileid);
		 Swal.fire({
					   title: "Are you sure?",
					   text: "You won't be able to revert this!",
					   type: "warning",
					   showCancelButton: !0,
					   confirmButtonColor: "#34c38f",
					   cancelButtonColor: "#f46a6a",
					   confirmButtonText: "Yes, delete it!",
						preConfirm: function() {
						
						   var csr = $("input[name=csrfmiddlewaretoken]").val();
							mydata = {page:'media_delete',id:fileid,csrfmiddlewaretoken:csr} 
						 return new Promise(function(resolve) {
						   $.ajax({
							url: '{% url "ajax" %}',
							type: 'POST',
							data: mydata,
						   dataType: "json"
						 })
						 .done(function(response){
							Swal.fire({
									 type: 'success',
									 title: 'File deleted succesfully',
									 confirmButtonColor: "#5156be",
									 preConfirm: function() {
										   window.location.reload();
										}
							   })
							})
						 .fail(function(){
							Swal.fire('Oops...', 'Something went wrong!', 'error');
						 });
						 });
					 }
				   });
		});
</script>
{% endblock %}