{% extends 'base.html' %}
{% load static %}
{% load myfilters %}

{% block title %} Task Details {% endblock %}

{% block css %}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.danger{
	color:#ff715b;
}
.col-form-label, .form-control{
	font-size:10px;
	color:black;
}

.form-control{
	height: calc(0.6em + 0.9rem + 1px);
	padding: 0.20rem 0.25rem;
	border-radius:0px;
}
.form-group {
    margin-bottom: 0rem;
}

.upper_area{
	margin-bottom: 0rem;
	font-size: 10px;
	color:black;
}
.container-fluid {
    font-size: 10px;
}
label{
	font-weight: 400;
}
{% endblock %}

{% block link %}
<link href="{% static 'libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/dropzone/min/dropzone.min.css' %}" rel="stylesheet" type="text/css" />
<!-- Sweet Alert-->
<link href="{% static 'libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_content %}
<div class="page-content">

	<!-- start page title -->
	<div class="row">
		<div class="col-12">
			<div class="page-title-box d-flex align-items-center justify-content-between">
				<p class="page-title mb-0 font-size-12"><b>{{activitydata.ticket}}>>66151>>{{activitydata.da}}>>{{step}}</b></p>

				<!--<div class="page-title-right">
					<ol class="breadcrumb m-0">
						<li class="breadcrumb-item"><a href="javascript: void(0);">Fiber</a></li>
						<li class="breadcrumb-item active">Create Activity</li>
					</ol>
				</div>-->
 
			</div>
		</div>
	</div>
	<!-- end page title -->

	{% for message in messages  %}            
      	<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message : </strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
	<div class="row">
		<div class="col-lg-12">
				<div style="margin-bottom:5px;" class="card">
					<div class="card-body">

						<!--<h4 class="card-title">Textual inputs</h4>
						<p class="card-title-desc">Here are examples of <code>.form-control</code> applied to each textual HTML5 <code>&lt;input&gt;</code> <code>type</code>.</p>-->
						
						<!--<div class="form-group row">
							<label class="col-md-2 col-form-label">Activity ID</label>
							<div class="col-md-10">
								<label class="col-md-2 col-form-label">101421-001</label>
							</div>
						</div>-->
						<div class="row">
							<div class="col-md-2 col-sm-4">
								<div class="form-group upper_area">
									<label class="upper_area">Job receive date :  {{activitydata.rec_date|date:"m/d/Y"}}</label> 
								</div>
							</div>
							<div class="col-md-2 col-sm-4">
								<div class="form-group upper_area">
									<label class="upper_area">ECD : {{activitydata.ecd|date:"m/d/Y"}}</label> 
								</div>
							</div>
							<div class="col-md-2 col-sm-4">
								<div class="form-group upper_area">
									<label class="upper_area">Client : {{activitydata.client_id.name}}</label>  
								</div>
							</div>
							<div class="col-md-2 col-sm-4">
								<div class="form-group upper_area">
									<label class="upper_area">LUs : {{activitydata.lus}}</label>
								</div>
							</div>
							<div class="col-md-2 col-sm-4">
								<div class="form-group upper_area">
									<label class="upper_area">Wire Center : {{activitydata.wire_center}}</label>
								</div>
							</div>
							<div class="col-md-2 col-sm-4">
								<div class="form-group upper_area">
									<label class="upper_area">Job Type : {{activitydata.job_type}}</label>
								</div>
							</div>
							<div class="col-md-2 col-sm-4">
								<div class="form-group upper_area">
									<label class="upper_area">Fielder : {{activitydata.assign_fielder.fname}} {{activitydata.assign_fielder.lname}}</label>
								</div>
							</div>
							<div class="col-md-2 col-sm-4">
								<div class="form-group upper_area">
									<label class="upper_area">Engineer 1 : {{activitydata.assign_int_eng.fname}} {{activitydata.assign_int_eng.lname}}</label>
								</div>
							</div>
							<div class="col-md-2 col-sm-4">
								<div class="form-group upper_area">
									<label class="upper_area">Engineer 2 : {{activitydata.int_eng2.fname}} {{activitydata.int_eng2.lname}}</label>
								</div>
							</div>
							<div class="col-md-2 col-sm-4">
								<div class="form-group upper_area">
									<label class="upper_area">Work Print : {{activitydata.work_print}}</label>
								</div>
							</div>
						</div>
						<h6 class="text-left" style="border-bottom:1px solid; color:#0caadc;"></h6>
						<form novalidate action="" method="post" enctype="multipart/form-data">
							{% csrf_token %} 
							{{form.activity_id_id}}
							{{form.added_by_id}}
							{{form.subtask_id}}
							{{form.type}}
							<div class="form-group row">
								<label class="col-md-2 col-form-label">Start date<span class="danger">*</span></label>
								<div class="col-md-2">
									{{form.start_date}}
									<!--<input class="form-control" value="" type="text" autocomplete="off" name="start_date" title="Start Date" readonly style="background-color:#e9e9e9;">-->
								</div>
								<label class="col-md-2 col-form-label">Complete date</label>
								<div class="col-md-2">
									{{form.complete_date}}
								
								</div>
								<label class="col-md-2 col-form-label">Status<span class="danger">*</span></label>
								<div class="col-md-2">
									{{form.status}}
								</div>
								<!--<label class="col-md-2 col-form-label">Total Footage</label>
								<div class="col-md-2">
									{{form.footage}}
								</div>-->
								
								
							</div>
							<div class="form-group row mt-4 text-center">
								<div class="col-md-12">
								<button class="btn btn-primary">Save</button>
								</div>
							</div>
						</form>					
					</div>
				</div>
				<div style="margin-bottom:5px;" class="card">
					<form novalidate action="" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="card-body">
							<h6 class="text-left" style="border-bottom:1px solid; color:#0caadc;">Attachments</h6>
							<table class="table">
								<thead>
									<th>User</th>
									<th>File</th>
									<th></th>
								</thead>
								<tbody>
									{% if exist_media %}
									{% for media in exist_media %}
									<tr>
										<td>{{media.added_by.fname}} - {{media.added_date|date:"m/d/Y"}}</td>
										<td><a href="{{ media.media.url }}" target="_blank">{{ media.media|toStr|mysplit }}</a></td>
										<td><a href="javascript:void(0);" style="color:red;cursor:pointer;" class="delete_media" data-file-id="{{ media.id }}" data-file-name="{{ media.media }}"><i class="fas fa-trash"></i></a></td>
									</tr>
									{% endfor %}
									{% endif %}
								</tbody>
							</table>
							{{mediaform.media}}
							<!--<input type="file" name="attachment[]" class="form-control" multiple style="padding: 0.15rem 0.75rem;">-->
							<div class="form-group row mt-4 text-center">
								<div class="col-md-12">
								<button class="btn btn-primary" {% if exist_data == '' %}disabled{% endif %}>Save</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div style="margin-bottom:5px;" class="card">
					<form novalidate action="" method="post">
						{% csrf_token %}
						<div class="card-body">
							<h6 class="text-left" style="border-bottom:1px solid; color:#0caadc;">Comments</h6>
							<table class="table">
								<thead>
									<th>User</th>
									<th>Comment</th>
								</thead>
								<tbody>
									{% if exist_comment %}
									{% for comments in exist_comment %}
									<tr>
										<td>{{comments.added_by.fname}} - {{comments.added_date|date:"m/d/Y"}}</td>
										<td>{{comments.remark}}</td>
									</tr>
									{% endfor %}
									{% endif %}
								</tbody>
							</table>
							{{remarkform.remark}}
							<!--<textarea class="form-control" name="remark" rows=5 title="Remarks"></textarea>-->
							<div class="form-group row mt-4 text-center">
								<div class="col-md-12">
								<button class="btn btn-primary" {% if exist_data == '' %}disabled{% endif %}>Save</button>
								</div>
							</div>
						</div>
					</form>
				</div>
		</div>
	</div>
	<!-- end row -->
</div>
<!-- End Page-content -->

{% endblock %}

{% block script %}
<!-- Required datatable js -->
<script src="{% static 'libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>

<!-- Plugins js -->
<script src="{% static 'libs/dropzone/min/dropzone.min.js' %}"></script>
<script>
	$('.custom_datepicker').datepicker({
		format: 'mm-dd-yyyy'
	})
</script>
<!-- Sweet Alert-->
<script src="{% static '/libs/sweetalert2/sweetalert2.min.js' %}"></script>
<script>

	$(".delete_media").click(function(){
		var fileid = $(this).data("file-id");
		//alert(fileid);
		 Swal.fire({
					   title: "Are you sure?",
					   text: "You won't be able to revert this!",
					   type: "warning",
					   showCancelButton: !0,
					   confirmButtonColor: "#34c38f",
					   cancelButtonColor: "#f46a6a",
					   confirmButtonText: "Yes, delete it!",
						preConfirm: function() {
						
						   var csr = $("input[name=csrfmiddlewaretoken]").val();
							mydata = {page:'task_media_delete', id:fileid,csrfmiddlewaretoken:csr} 
						 return new Promise(function(resolve) {
						   $.ajax({
							url: '{% url "ajax" %}',
							type: 'POST',
							data: mydata,
						   dataType: "json"
						 })
						 .done(function(response){
							Swal.fire({
									 type: 'success',
									 title: 'File deleted succesfully',
									 confirmButtonColor: "#5156be",
									 preConfirm: function() {
										   window.location.reload();
										}
							   })
							})
						 .fail(function(){
							Swal.fire('Oops...', 'Something went wrong!', 'error');
						 });
						 });
					 }
				   });
		});
</script>

{% endblock %}